button,
.button,
[type="submit"] {
  @include font-scale(sm);
  @include use-prop(background-color, color-link);
  @include use-prop(color, color-background);
  @include use-prop(font-family, font-body);
  -webkit-font-smoothing: antialiased; //sass-lint:disable-line no-vendor-prefixes
  appearance: none;
  border: 0;
  border-radius: $border-radius-default;
  box-shadow: 1px 1px 0 0 $color-orange, 2px 2px 0 0 $color-orange, 3px 3px 0 0 $color-orange;
  display: inline-block;
  font-weight: bold;
  font-variation-settings: vf(heavy), "wdth" 88;
  letter-spacing: (1em / 16);
  padding: ($tiny-spacing - 1 / 16) $small-spacing ($tiny-spacing + 1 / 16);
  text-transform: uppercase;
  transition: color .25s, opacity .25s, border-color .25s, background-color .25s, transform .25s $easing;

  &.button-alt {
    @include use-prop(background-color, color-highlight);
  }

  @include haf {
    @include use-prop(background-color, color-link-alt);
    @include use-prop(color, color-background);

    &.button-alt {
      @include use-prop(background-color, color-highlight-alt);
    }
  }

  .page-content & {
    margin-bottom: $small-spacing;
  }
}
