code {
  @include use-prop(background-color, color-background-alt);
  @include use-prop(color, color-text-alt);
  border-radius: $border-radius-default;
  display: inline-block;
  font-family: $font-code;
  font-weight: inherit;
  font-feature-settings: initial;
  padding: 0 .5ch;
  vertical-align: baseline;

  a & {
    color: inherit;
  }
}

pre > code {
  @include font-scale(sm);
  @include use-prop(background-color, color-background-code);
  @include use-prop(color, color-text-code);
  display: block;
  margin: $base-spacing 0;
  overflow: scroll;
  padding: $small-spacing;
  line-height: 2;
  width: auto;
  border-radius: 0;
  box-shadow: 1px 1px 0 1px $color-gray, 2px 2px 0 1px $color-gray;

  @include bp(medium) {
    margin: $base-spacing (0 - $small-spacing);
  }
}


$code-selectors: (
  (comment, prolog, doctype, cdata),
  (property, tag, boolean, number, constant, symbol),
  (selector, attr-name, string, char, builtin, inserted),
  (operator, entity, url, variable),
  (atrule, attr-value, keyword),
  (placeholder, function, punctuation)
);

.highlight-line {
  @each $batch in $code-selectors {
    @each $s in $batch {
      .#{$s} {
        $pct: 100% / length($code-selectors) * index($code-selectors, $batch);
        color: mix($color-blue-dark, $color-green-dark, $pct); // sass-lint:disable-line variable-for-property
      }
    }
  }

  .punctuation {
    opacity: .7;
  }
}
