:root {
  --color-text: #{$color-gray};
  --color-text-alt: #{$color-gray-dark};
  --color-text-accent: #{$color-blue-dark};
  --color-text-code: #{$color-blue-dark};
  --color-page-title: #{$color-gray-pale};

  --color-link: #{$color-blue};
  --color-link-alt: #{$color-blue-dark};

  --color-link-2: #{$color-green};
  --color-link-2-alt: #{$color-green-dark};

  --color-link-dark: #{$color-link-dark};
  --color-link-dark-alt: #{$color-link-dark-alt};

  --color-success: #{$color-green};
  --color-success-alt: #{$color-green-dark};

  --color-error: #{$color-red};
  --color-error-alt: #{$color-red-dark};

  --color-highlight: #{$color-orange};
  --color-highlight-alt: #{$color-orange-dark};
  --color-highlight-pale: #{rgba($color-orange-dark, .15)};

  --color-background: #{$color-gray-pale};
  --color-background-page: #{$color-gray-pale};
  --color-background-fade: #{rgba($color-gray-pale, .9)};
  --color-background-svg: #{$color-orange};
  --color-background-alt: #{rgba($color-gray, .15)};
  --color-background-code: #{rgba($color-gray, .15)};

  --fs-body: #{(18rem / 16)};

  --font-body: #{unquote("-apple-system, Helvetica Neue, Helvetica, Roboto, Segoe UI, sans-serif")};
  --font-headline: var(--font-body);
  --font-code: #{unquote("monospace")};

  --toggle-icon: svg-load("icons/theme.svg", fill=#{rgba($color-link, .65)});

  --horizontal-spacing: #{$small-spacing};

  @supports (padding: env(safe-area-inset-left)) {
    --horizontal-spacing: calc(#{$small-spacing} + env(safe-area-inset-right));
  }

  @supports (font-variation-settings: normal) {
    --font-body: Plex VF, -apple-system, Helvetica Neue, Helvetica, Roboto, Segoe UI, sans-serif;
    --font-code: Plex Mono, monospace;
  }

  @include breakpoint(medium) {
    --fs-body: calc(21rem / 16);
  }

  @include breakpoint(large) {
    --fs-body: calc(24rem / 16);
  }

  @include breakpoint(xlarge) {
    --fs-body: calc(27rem / 16);
  }
}

.theme-dark {
  --color-text: #{custom-invert($color-gray)};
  --color-text-alt: #{custom-invert($color-gray-dark)};
  --color-text-accent: #{custom-invert($color-blue-dark)};

  --color-link: #{custom-invert($color-blue)};
  --color-link-alt: #{custom-invert($color-blue-dark)};

  --color-link-2: #{custom-invert($color-green)};
  --color-link-2-alt: #{custom-invert($color-green-dark)};

  --color-link-dark: #{custom-invert($color-link-dark)};
  --color-link-dark-alt: #{custom-invert($color-link-dark-alt)};

  --color-highlight: #{custom-invert($color-orange)};
  --color-highlight-alt: #{custom-invert($color-orange-dark)};
  --color-highlight-pale: #{rgba(custom-invert($color-orange-dark), .15)};

  --color-background: #{$color-gray-dark};
  --color-background-page: #{custom-invert($color-gray-pale)};
  --color-background-fade: #{rgba(custom-invert($color-gray-pale), .9)};
  --color-background-svg: #{#{$color-gray-dark}};
  --color-background-alt: #{rgba(custom-invert($color-gray-dark), .15)};
  --color-background-code: #{custom-invert($color-gray)};

  --toggle-icon: svg-load("icons/theme.svg", fill=#{rgba($color-gray-pale, .75)});
}
