@mixin fonts($family, $file, $style, $weight) {
  @font-face {
    font-family: $family;
    src:  url('/webfonts/#{$file}.eot');
    src:  url('/webfonts/#{$file}.woff2') format('woff2'), url('/webfonts/#{$file}.woff') format('woff'); //sass-lint:disable-line no-duplicate-properties
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
  }
}

@mixin v-fonts($family, $file, $style) {
  @font-face {
    font-family: $family;
    src: url('/webfonts/#{$file}.ttf') format('truetype');
    font-style: $style;
  }
}

@include fonts(Quattro, quattro-regular, normal, normal);
@include fonts(Quattro, quattro-italic, italic, normal);
@include fonts(Quattro, quattro-bold, normal, bold);
@include fonts(Quattro, quattro-bold-italic, italic, bold);

@include v-fonts(QuattroV, quattro-v, normal);
@include v-fonts(QuattroV, quattro-v-italic, italic);
