@mixin fonts($family, $file, $style, $weight) {
  @font-face {
    font-family: $family;
    src:  url("/webfonts/#{$file}.eot");
    src:  url("/webfonts/#{$file}.woff2") format("woff2"), url("/webfonts/#{$file}.woff") format("woff"); //sass-lint:disable-line no-duplicate-properties
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
  }
}

@mixin v-fonts($family, $file-name, $style, $format) {
  @font-face {
    font-family: $family;
    src: url("/webfonts/#{$file-name}") format("#{$format}");
    font-style: $style;
  }
}

@include fonts(Mono, mono-regular, normal, normal);
@include fonts(Mono, mono-italic, italic, normal);
@include fonts(Mono, mono-bold, normal, bold);
@include fonts(Mono, mono-bolditalic, italic, bold);

@include v-fonts(Mono VF, "mono-v.ttf", normal, truetype);
@include v-fonts(Mono VF, "mono-v-italic.ttf", italic, truetype);
@include v-fonts(Venn VF, "venn-v.woff2", normal, woff2);
