.l-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: var(--max-width, #{$max-width});
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.l-page {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.l-hero {
  padding-right: var(--horizontal-spacing);
  padding-left: var(--horizontal-spacing);
  grid-column: 1 / -1;
}

.l-content {
  padding: $base-spacing var(--horizontal-spacing);
  width: 100vw;
  max-width: $max-width;
  grid-column: 2 / -2;
}
