.wrapper {
  margin: 0 auto;
  max-width: $max-width;
}

.inner-wrapper {
  padding: 0;
  display: grid;
  column-gap: $small-spacing;
  grid-template-columns: 1fr minmax(min-content, $max-width-modified) 1fr;

  .hero {
    grid-column: 1 / -1;
  }

  .main-content {
    grid-column: 2 / -2;
    max-width: calc(100vw - #{$small-spacing * 2});
  }
}
