.post-meta {
  @include font-scale(sm);
  @include use-prop(color, color-text);
  margin-bottom: $base-spacing;

  .post-header & {
    @include use-prop(color, color-page-title);
    text-align: center;
  }

  .categories {
    text-transform: lowercase;
  }

  .author {
    font-style: italic;

    &::before,
    &::after {
      content: ' ~ ';
    }
  }
}

.post-excerpt {
  @include font-scale(sm);
  @include use-prop(color, color-text-accent);
  margin-top: $small-spacing;
  margin-bottom: $small-spacing;
  font-style: italic;
}

.post-header {
  @include use-prop(background-color, color-background-svg);
  padding: $large-spacing $base-spacing;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;

  > svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  > svg:first-child + *,
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
