$max-width-modified: ($max-width / 6 * 4);
.post {
  text-align: center;

  > * {
    text-align: initial;
  }
}

.post-meta {
  @include font-scale(sm);
  @include use-prop(color, color-text);
  margin-bottom: $base-spacing;

  .post-header & {
    @include use-prop(color, color-page-title);
    text-align: center;
  }

  .categories {
    text-transform: lowercase;
  }

  .author {
    font-style: italic;

    &::before,
    &::after {
      content: ' ~ ';
    }
  }
}

.post-excerpt {
  @include font-scale(sm);
  @include use-prop(color, color-text-accent);
  margin-top: $small-spacing;
  margin-bottom: $small-spacing;
  font-style: italic;
}

.post-header {
  @include use-prop(background-color, color-background-svg);
  padding: $large-spacing $base-spacing;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;

  > svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  > svg:first-child + *,
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.post-content {
  max-width: $max-width-modified;
  display: inline-block;
  vertical-align: top;
}

.post-table-of-contents {
  display: inline-block;

  @include bp(large) {
    max-width: $max-width-modified / 1.618;
    display: inline-block;
    vertical-align: top;
    padding: $base-spacing 0;
    position: sticky;
    top: 0;
    bottom: 0;
  }

  a {
    @include font-scale(sm);

    display: inline-block;
    margin-bottom: $tiny-spacing;
  }

  ol {
    @include use-prop(color, color-text);
    @include font-scale(sm);

    display: initial;
    margin: initial;
    padding: initial;
    list-style: decimal;

    ol {
      list-style: upper-alpha;

      ol {
        list-style: lower-roman;
      }
    }
  }

  li {
  }
}
