.site-header {
  padding: $small-spacing;
  background-color: $color-blue-dark;
  color: $color-gray-pale;
  -webkit-font-smoothing: antialiased; //sass-lint:disable-line no-vendor-prefixes

  .wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  a {
    color: $color-link-dark;

    @include haf {
      color: $color-link-dark-alt;
    }
  }
}

.site-title {
  @include font-scale(p);
  @include use-prop(font-family, font-headline);
  display: inline-block;
  font-weight: bold;
  font-variation-settings: "wght" 600, "SPCG" 20;
  padding: $tiny-spacing $small-spacing;
  text-align: center;
  vertical-align: middle;
  transition: font-variation-settings .25s;

  @include haf {
    font-variation-settings: "wght" 700, "SPCG" 20;
  }

  @include breakpoint(large) {
    margin-right: auto;
  }

  @include breakpoint(xlarge) {
    text-align: left;
    width: 33%;
  }
}
