.post-content a {
  @supports (text-decoration-skip: edges) {
    text-decoration-color: currentColor;
    text-decoration-skip: edges;
    text-decoration-style: underline;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    // sass-lint:disable-block no-important
    animation: none !important;
    transition: none !important;
  }
}
