$toggle-height: $base-spacing;
$toggle-border: 2px;

.toggle {
  display: inline-block;
  vertical-align: middle;
  width: calc(#{$toggle-height * 1.5} + #{$toggle-border * 2});
  height: calc(#{$toggle-height} + #{$toggle-border * 2});
  margin: 0 0 0 $tiny-spacing;
  padding: 0;
  position: relative;
  background: rgba($color-link-dark, .5);
  border: $toggle-border solid transparent;
  border-radius: calc(#{$toggle-height / 2} + #{$toggle-border});
  transition: transform .15s ease-out, color .15s;
  box-shadow: none;
  font-size: 0;
  opacity: .5;
  appearance: none;

  @include haf {
    background: rgba($color-link-dark, .5);
    opacity: .65;
  }

  &::before {
    @include use-prop(background-color, color-background);
    @include use-prop(background-image, toggle-icon);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: $toggle-height;
    height: $toggle-height;
    border: 0;
    border-radius: $toggle-height;
    background-position: center;
    background-repeat: no-repeat;
    background-size: $toggle-height / 1.5;
    z-index: 1;
    transition: transform .15s ease-out, background-color .15s;

    .theme-dark & {
      transform: translateX(50%);
    }
  }
}
