@function is-even($n: 1) {
  @return $n % 2 == 0;
}

@function text-shadow($depth: 0.05em, $steps: 100, $highlight-color: white, $shadow-color: black) {
  $shadow: ();

  @for $i from 1 through $steps {
    $x: math.div($depth, $steps) * -$i;
    $y-a: math.div($depth, $steps) * if(is-even($i), $i, ($i - 1));
    $y-b: math.div($depth, $steps) * $i;
    $shadow-layer-a: $x $y-a $highlight-color;
    $shadow-layer-b: $x $y-b $shadow-color;
    $shadow: list.append($shadow, ($shadow-layer-a, $shadow-layer-b), comma);
  }

  @return $shadow;
}
