---
layout: _base
---

{%- assign toc = content | toc -%}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  {% include partials/_hero %}

  <div class="main-content l-grid l-grid--content" itemprop="articleBody">
    {% include partials/_toc %}

    {{ content | dropcap }}

    {% include partials/_webmentions %}
  </div>
</article>
