@use "mixins/bp";
@use "variables" as v;
@use "sass:color";

:root {
  // Text Colors
  --color-text: #{v.$color-gray};
  --color-text-alt: #{v.$color-black};
  --color-text-accent: #{v.$color-purple};
  --color-text-light: #{v.$color-background-pale};
  --color-page-title: #{v.$color-background};
  --color-dark: #{v.$color-black};
  --color-light: #{v.$color-background};

  // Background Colors
  --color-background: #{v.$color-background};
  --color-background-page: #{v.$color-background-pale};
  --color-background-fade: #{rgba(v.$color-background, 0.9)};
  --color-background-hero: var(--color-purple-dark);
  --color-background-dark: #{v.$color-gray};
  --color-background-code: #{rgba(v.$color-gray, 0.15)};
  --color-purple-dark: #{color.mix(v.$color-purple, v.$color-gray)};

  // Accent Colors
  --color-accent-1: #{v.$color-orange};
  --color-accent-2: #{v.$color-goldenrod};
  --color-accent-3: #{v.$color-yellow};

  // Interaction Colors
  --color-link: #{v.$color-purple};
  --color-link-alt: #{v.$color-pink};
  --color-link-2: #{v.$color-orange};
  --color-link-2-alt: #{v.$color-goldenrod};
  --color-link-light: #{v.$color-background};
  --color-link-light-alt: #{v.$color-yellow};
  --color-focus: #{v.$color-purple};
  --color-highlight: #{v.$color-goldenrod};
  --color-highlight-alt: #{v.$color-orange};
  --color-highlight-pale: #{rgba(v.$color-orange, 0.15)};

  // Tilt Values
  --tilt: -10deg;
  --tilt-tan: 0.176;

  // Type Sizes
  --fs-ratio: 1.25;
  --fs-body: 1rem;
  --fs-blockquote: calc(var(--fs-body) * (((var(--fs-ratio) - 1) / 2) + 1));
  --fs-subheading: calc(var(--fs-body) * var(--fs-ratio));
  --fs-heading: calc(var(--fs-subheading) * var(--fs-ratio));
  --fs-title: calc(var(--fs-heading) * var(--fs-ratio) * var(--fs-ratio) * var(--fs-ratio));
  --fs-hero: calc(var(--fs-title) * var(--fs-ratio));
  --fs-small: calc(var(--fs-body) / var(--fs-ratio));

  // Font Weights
  --fw-lightest: 250;
  --fw-light: 320;
  --fw-body: 375;
  --fw-medium: 550;
  --fw-bold: 700;
  --fw-heavy: 800;

  // Font Families
  /* stylelint-disable value-keyword-case */
  --ff-body: Work Sans, -apple-system, Helvetica Neue, Helvetica, Roboto, Segoe UI, sans-serif;
  --ff-title: Teko, -apple-system, Helvetica Neue, Helvetica, Roboto, Segoe UI, sans-serif;
  --ff-code: monospace;
  /* stylelint-enable value-keyword-case */

  // Line heights
  --lh-body: 1.5;
  --lh-title: 1;
  --lh-heading: 1.2;

  // Spacing
  --horizontal-spacing: #{v.$small-spacing};

  [data-theme="auto"] {
    @media (prefers-color-scheme: dark) {
      // Text Colors
      --color-text: #{v.$color-background};
      --color-text-alt: #{v.$color-background-pale};
      --color-text-accent: #{v.$color-pink};

      // Background Colors
      --color-background: #{v.$color-gray};
      --color-background-page: #{v.$color-black};
      --color-background-fade: #{rgba(v.$color-gray, 0.9)};
      --color-background-hero: var(--color-purple-dark);
      --color-background-dark: #{v.$color-gray};
      --color-background-code: #{rgba(v.$color-goldenrod, 0.15)};
      --color-purple-dark: #{color.mix(v.$color-purple, v.$color-black, 35%)};

      // Accent Colors
      --color-accent-1: #{color.mix(v.$color-orange, v.$color-gray, 75%)};
      --color-accent-2: #{color.mix(v.$color-goldenrod, v.$color-gray, 75%)};
      --color-accent-3: #{color.mix(v.$color-yellow, v.$color-gray, 75%)};

      // Interaction Colors
      --color-link: #{rgba(v.$color-yellow, 0.75)};
      --color-link-alt: #{v.$color-background-pale};
      --color-link-2: #{v.$color-pink};
      --color-link-2-alt: #{color.mix(v.$color-purple, v.$color-white)};
      --color-focus: var(--color-link-alt);
      --blend-mode: lighten;
    }
  }

  [data-theme="dark"] {
    // Text Colors
    --color-text: #{v.$color-background};
    --color-text-alt: #{v.$color-background-pale};
    --color-text-accent: #{v.$color-pink};

    // Background Colors
    --color-background: #{v.$color-gray};
    --color-background-page: #{v.$color-black};
    --color-background-fade: #{rgba(v.$color-gray, 0.9)};
    --color-background-hero: var(--color-purple-dark);
    --color-background-dark: #{v.$color-gray};
    --color-background-code: #{rgba(v.$color-goldenrod, 0.15)};
    --color-purple-dark: #{color.mix(v.$color-purple, v.$color-black, 35%)};

    // Accent Colors
    --color-accent-1: #{color.mix(v.$color-orange, v.$color-gray, 75%)};
    --color-accent-2: #{color.mix(v.$color-goldenrod, v.$color-gray, 75%)};
    --color-accent-3: #{color.mix(v.$color-yellow, v.$color-gray, 75%)};

    // Interaction Colors
    --color-link: #{rgba(v.$color-yellow, 0.75)};
    --color-link-alt: #{v.$color-background-pale};
    --color-link-2: #{v.$color-pink};
    --color-link-2-alt: #{color.mix(v.$color-purple, v.$color-white)};
    --color-focus: var(--color-link-alt);
    --blend-mode: lighten;
  }

  // Notch Support

  @supports (padding: env(safe-area-inset-left)) {
    --horizontal-spacing: calc(#{v.$small-spacing} + env(safe-area-inset-right));
  }

  // Variable Font Support

  @supports (font-variation-settings: normal) {
    /* stylelint-disable value-keyword-case */
    --ff-body: Work Sans VF, Work Sans, -apple-system, Helvetica Neue, Helvetica, Roboto, Segoe UI, sans-serif;
    /* stylelint-enable value-keyword-case */
  }

  // Media Queries

  @include bp.bp(medium) {
    --fs-body: calc(21rem / 16);
    --fs-ratio: 1.3;
    --lh-body: 1.6;
  }

  @include bp.bp(large) {
    --fs-body: calc(24rem / 16);
    --fs-ratio: 1.4;
    --lh-body: 1.7;
  }
}
