@use "mixins/bp";
@use "variables" as v;

// @TODO - maybe better place for this?
.l-main {
  padding-bottom: calc(200vw * var(--tilt-tan));
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-background-page);
}

.l-grid {
  display: grid;
  grid-template-columns: 1fr minmax(0, var(--max-width, #{v.$max-width})) 1fr;
  column-gap: var(--horizontal-spacing);
  position: relative;

  > * {
    grid-column: 2 / -2;
  }
}

.l-grid--content {
  > h2 {
    display: grid;
    grid-template-columns: var(--horizontal-spacing) 1fr auto;
    align-items: center;
    grid-column: 1 / -1;
    column-gap: inherit;

    &::before {
      content: "";
      height: 3 * v.$base-spacing;
      grid-column: 1 / span 1;
      background-image:
        linear-gradient(
          180deg,
          var(--color-accent-1) 33.3%,
          var(--color-accent-2) 33.3%,
          var(--color-accent-2) 66.7%,
          var(--color-accent-3) 66.7%
        );
      transform: skew(0, var(--tilt));
      transform-origin: right center;
    }

    @include bp.bp(medium) {
      grid-template-columns: inherit;
    }
  }
}
