@function _scale($label) {
  $pos: index($font-sizes, $label);
  @if $pos {
    $pos: if($start-small, $pos - 1, $pos);
    @return power($base-font-scale, $pos - 1);
  } @else {
    @warn '`$label` must be in `$font-sizes` - `#{$label}` is not.';
    @return null;
  }
}

@function _height($label) {
  $base-height: $base-line-height;
  $size: _scale($label);
  @return ceil($size / $base-line-height) * $base-line-height / $size;
}

@mixin font-scale($label) {
  font-size: _scale($label) * 1rem;
  line-height: _height($label);
}
