<svg viewBox="0 0 64 64" preserveAspectRatio="xMidYMid slice">
  <defs>
    <mask id="mask-hz">
      <rect height="4" width="64" fill="url(#gradient-hz)" />
    </mask>

    <linearGradient x="0" y="0" x2="0" y2="4" spreadMethod="pad" id="gradient-hz">
      <stop offset="0" stop-color="rgba(255,255,255,0)"/>
      <stop offset="2" stop-color="rgba(255,255,255,.35)"/>
      <stop offset="4" stop-color="rgba(255,255,255,.9)"/>
    </linearGradient>

    <rect id="hz" x="0" width="64" height="4" fill="{{ site.header_shadow }}" mask="url(#mask-hz)"/>


    <mask id="mask-vt">
      <rect height="64" width="4" fill="url(#gradient-vt)" />
    </mask>

    <linearGradient x="0" y="0" x2="4" y2="0" id="gradient-vt">
      <stop offset="0" stop-color="rgba(255,255,255,0)"/>
      <stop offset="2" stop-color="rgba(255,255,255,.35)"/>
      <stop offset="4" stop-color="rgba(255,255,255,.9)"/>
    </linearGradient>

    <rect id="vt" y="0" width="4" height="64" fill="{{ site.header_shadow }}" mask="url(#mask-vt)"/>
  </defs>
  <use href="#hz" y="0" />
  <use href="#hz" y="4" />
  <use href="#hz" y="8" />
  <use href="#hz" y="12" />
  <use href="#hz" y="16" />
  <use href="#hz" y="20" />
  <use href="#hz" y="24" />
  <use href="#hz" y="28" />
  <use href="#hz" y="32" />
  <use href="#hz" y="36" />
  <use href="#hz" y="40" />
  <use href="#hz" y="44" />
  <use href="#hz" y="48" />
  <use href="#hz" y="52" />
  <use href="#hz" y="56" />
  <use href="#hz" y="60" />
  <use href="#vt" x="0" />
  <use href="#vt" x="4" />
  <use href="#vt" x="8" />
  <use href="#vt" x="12" />
  <use href="#vt" x="16" />
  <use href="#vt" x="20" />
  <use href="#vt" x="24" />
  <use href="#vt" x="28" />
  <use href="#vt" x="32" />
  <use href="#vt" x="36" />
  <use href="#vt" x="40" />
  <use href="#vt" x="44" />
  <use href="#vt" x="48" />
  <use href="#vt" x="52" />
  <use href="#vt" x="56" />
  <use href="#vt" x="60" />
</svg>