<svg viewBox="0 0 64 64" preserveAspectRatio="xMidYMid slice">
  <g fill="{{ site.header_shadow }}" fill-opacity=".1">
    <circle r="16" cy="0" cx="0" />
    <circle r="16" cy="16" cx="0" />
    <circle r="16" cy="32" cx="0" />
    <circle r="16" cy="48" cx="0" />
    <circle r="16" cy="64" cx="0" />

    <circle r="16" cy="0" cx="16" />
    <circle r="16" cy="16" cx="16" />
    <circle r="16" cy="32" cx="16" />
    <circle r="16" cy="48" cx="16" />
    <circle r="16" cy="64" cx="16" />

    <circle r="16" cy="0" cx="32" />
    <circle r="16" cy="16" cx="32" />
    <circle r="16" cy="32" cx="32" />
    <circle r="16" cy="48" cx="32" />
    <circle r="16" cy="64" cx="32" />

    <circle r="16" cy="0" cx="48" />
    <circle r="16" cy="16" cx="48" />
    <circle r="16" cy="32" cx="48" />
    <circle r="16" cy="48" cx="48" />
    <circle r="16" cy="64" cx="48" />

    <circle r="16" cy="0" cx="64" />
    <circle r="16" cy="16" cx="64" />
    <circle r="16" cy="32" cx="64" />
    <circle r="16" cy="48" cx="64" />
    <circle r="16" cy="64" cx="64" />
  </g>
</svg>