<svg viewBox="0 0 64 64" preserveAspectRatio="xMidYMid slice">
  <g stroke="{{ site.header_shadow }}" stroke-width="8" fill="none">
    <ellipse cx="-64" cy="-6" rx="116" ry="60" stroke-opacity=".04" />
    <ellipse cx="-64" cy="-6" rx="124" ry="68" stroke-opacity=".08" />
    <ellipse cx="-64" cy="-6" rx="132" ry="76" stroke-opacity=".12" />
    <ellipse cx="-64" cy="-6" rx="140" ry="84" stroke-opacity=".16" />
    <ellipse cx="-64" cy="-6" rx="148" ry="92" stroke-opacity=".20" />
    <ellipse cx="-64" cy="-6" rx="156" ry="100" stroke-opacity=".24" />
    <ellipse cx="-64" cy="-6" rx="164" ry="108" stroke-opacity=".28" />

    <ellipse cx="128" cy="-6" rx="116" ry="60" stroke-opacity=".04" />
    <ellipse cx="128" cy="-6" rx="124" ry="68" stroke-opacity=".08" />
    <ellipse cx="128" cy="-6" rx="132" ry="76" stroke-opacity=".12" />
    <ellipse cx="128" cy="-6" rx="140" ry="84" stroke-opacity=".16" />
    <ellipse cx="128" cy="-6" rx="148" ry="92" stroke-opacity=".20" />
    <ellipse cx="128" cy="-6" rx="156" ry="100" stroke-opacity=".24" />
    <ellipse cx="128" cy="-6" rx="164" ry="108" stroke-opacity=".28" />
  </g>
</svg>