<svg viewBox="0 0 64 64" preserveAspectRatio="xMidYMid slice">
  <defs>
    <path id="path" d="M0,-6.4l6.4,6.4l-6.4,6.4l-6.4,-6.4z" fill="{{ site.header_shadow }}" fill-opacity=".15" />
  </defs>

  <use href="#path" transform="translate(0 8)" />
  <use href="#path" transform="translate(0 16)" />
  <use href="#path" transform="translate(0 24)" />
  <use href="#path" transform="translate(0 32)" />
  <use href="#path" transform="translate(0 40)" />
  <use href="#path" transform="translate(0 48)" />
  <use href="#path" transform="translate(0 56)" />
  <use href="#path" transform="translate(0 64)" />

  <use href="#path" transform="translate(8 0)" />
  <use href="#path" transform="translate(8 8)" />
  <use href="#path" transform="translate(8 16)" />
  <use href="#path" transform="translate(8 24)" />
  <use href="#path" transform="translate(8 32)" />
  <use href="#path" transform="translate(8 40)" />
  <use href="#path" transform="translate(8 48)" />
  <use href="#path" transform="translate(8 56)" />
  <use href="#path" transform="translate(8 64)" />

  <use href="#path" transform="translate(16 0)" />
  <use href="#path" transform="translate(16 8)" />
  <use href="#path" transform="translate(16 16)" />
  <use href="#path" transform="translate(16 24)" />
  <use href="#path" transform="translate(16 32)" />
  <use href="#path" transform="translate(16 40)" />
  <use href="#path" transform="translate(16 48)" />
  <use href="#path" transform="translate(16 56)" />
  <use href="#path" transform="translate(16 64)" />

  <use href="#path" transform="translate(24 0)" />
  <use href="#path" transform="translate(24 8)" />
  <use href="#path" transform="translate(24 16)" />
  <use href="#path" transform="translate(24 24)" />
  <use href="#path" transform="translate(24 32)" />
  <use href="#path" transform="translate(24 40)" />
  <use href="#path" transform="translate(24 48)" />
  <use href="#path" transform="translate(24 56)" />
  <use href="#path" transform="translate(24 64)" />

  <use href="#path" transform="translate(32 0)" />
  <use href="#path" transform="translate(32 8)" />
  <use href="#path" transform="translate(32 16)" />
  <use href="#path" transform="translate(32 24)" />
  <use href="#path" transform="translate(32 32)" />
  <use href="#path" transform="translate(32 40)" />
  <use href="#path" transform="translate(32 48)" />
  <use href="#path" transform="translate(32 56)" />
  <use href="#path" transform="translate(32 64)" />

  <use href="#path" transform="translate(40 0)" />
  <use href="#path" transform="translate(40 8)" />
  <use href="#path" transform="translate(40 16)" />
  <use href="#path" transform="translate(40 24)" />
  <use href="#path" transform="translate(40 32)" />
  <use href="#path" transform="translate(40 40)" />
  <use href="#path" transform="translate(40 48)" />
  <use href="#path" transform="translate(40 56)" />
  <use href="#path" transform="translate(40 64)" />

  <use href="#path" transform="translate(48 0)" />
  <use href="#path" transform="translate(48 8)" />
  <use href="#path" transform="translate(48 16)" />
  <use href="#path" transform="translate(48 24)" />
  <use href="#path" transform="translate(48 32)" />
  <use href="#path" transform="translate(48 40)" />
  <use href="#path" transform="translate(48 48)" />
  <use href="#path" transform="translate(48 56)" />
  <use href="#path" transform="translate(48 64)" />

  <use href="#path" transform="translate(56 0)" />
  <use href="#path" transform="translate(56 8)" />
  <use href="#path" transform="translate(56 16)" />
  <use href="#path" transform="translate(56 24)" />
  <use href="#path" transform="translate(56 32)" />
  <use href="#path" transform="translate(56 40)" />
  <use href="#path" transform="translate(56 48)" />
  <use href="#path" transform="translate(56 56)" />
  <use href="#path" transform="translate(56 64)" />

  <use href="#path" transform="translate(64 0)" />
  <use href="#path" transform="translate(64 8)" />
  <use href="#path" transform="translate(64 16)" />
  <use href="#path" transform="translate(64 24)" />
  <use href="#path" transform="translate(64 32)" />
  <use href="#path" transform="translate(64 40)" />
  <use href="#path" transform="translate(64 48)" />
  <use href="#path" transform="translate(64 56)" />
  <use href="#path" transform="translate(64 64)" />
</svg>