---
layout: _base
---

<div class="l-grid">
  {% assign title = title | append: " Archive" %}
  {% include partials/_hero %}

  <div class="l-content">
    <ul class="posts-archive">
      {%- for post in collections[cat_name] %}
        {% include partials/_archive-item %}
      {%- endfor %}
    </ul>
  </div>
</div>
