<head itemscope itemtype="http://schema.org/WebSite">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#5CACC4">
  <title itemprop="name">{% if title %}{{ title }} | {% endif %}{{ site.name }}</title>

  <meta name="description" content="{% if excerpt %}{{ excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ content | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{ site.name }}" />
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:title" content="{% if title %}{{ title }} | {% endif %}{{ site.name }}">
  <meta property="og:type" content="{% if layout === post.html %}article{% else %}website{% endif %}">
  <meta property="og:description" name="description" content="{% if excerpt %}{{ excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" property="og:image" content="{{ site.url }}{{ site.profile_pic }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:domain" content="{{site.url}}"/>

  <link rel="stylesheet" href="/assets/main.css">
  <link rel="canonical" href="{% if permalink %}{{ permalink | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}{% if url %}{{ url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}" itemprop="url">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
