<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      {% assign sorted_pages = site.pages | sort:"menu_order" %}
      {% for page in sorted_pages %}
        {% if page.exclude %}
        {% else %}
          {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

  </div>

</header>
