{% include before %}

<div class="home inner-wrapper">

  <div class="post-header">
    {% include header-image %}

    <h1 class="post-title">{{ title }}</h1>
  </div>
  <div class="white-sheet">
    {% if collections.postsIndex %}
      <ul class="post-list">
        {% for post in collections.postsIndex %}
          {% include excerpt %}
        {% endfor %}
      </ul>

      <div class="pagination">
        <span class="previous"></span>
        <span class="page-number">1</span>
        <a href="/page2/" class="next">Next</a>
      </div>
    {% else %}
      {{ content }}
    {% endif %}
  </div>
</div>

{% include after %}
