* { box-sizing: border-box; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; }
body { line-height: 1; color: rgb(78, 77, 74); font-family: freight-text-pro, Palatino, 'Palatino Linotype', serif; font-feature-settings: 'kern' 1, 'liga' 1; background-color: rgb(243, 250, 252); }
body, p, .field-group, .mc-field-group, input, textarea { font-size: 1.6rem; line-height: 1.62; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
.site-header { animation: fade 0.35s ease-out; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(161, 164, 163); text-align: center; padding-top: 0.809em; padding-bottom: 0.809em; }
.wrapper { margin-left: auto; margin-right: auto; max-width: 100%; width: 45em; }
a { color: rgb(39, 144, 176); text-decoration: none; transition: color 0.25s, opacity 0.25s, border 0.25s, transform 0.25s ease-in-out; }
.form-message p, .site-title { font-size: 2rem; line-height: 1.29; }
.site-title { display: inline-block; font-weight: bold; text-align: left; vertical-align: middle; padding: 0.31657em 0.63313em; width: 33%; }
.site-nav { display: inline-block; text-align: right; vertical-align: middle; width: 66%; }
code, pre > code, button, .button, [type="submit"], .mc-ref, .field-group label, .mc-field-group label, .page-link, .pagination, .post-meta, .footer-col, .footer-col p { font-size: 1.2rem; line-height: 2.16; }
.page-link { display: inline-block; text-transform: uppercase; padding: 0.56008em 1.12015em; }
.page-content { animation: fade 0.35s ease-out; padding-top: 0.809em; padding-bottom: 0.809em; }
.page-content .wrapper { padding-right: 0.809em; padding-left: 0.809em; }
h1, .page-heading { font-size: 4rem; line-height: 1.29; }
h1 { color: rgb(53, 52, 50); font-family: lust, Palatino, 'Palatino Linotype', serif; font-weight: bold; }
.page-heading, .post-title { font-size: 6.4rem; line-height: 1.21; text-align: center; text-transform: uppercase; margin-top: 0.4045em; }
.page-heading { margin-bottom: 0.6472em; }
.wf-active h1 { font-weight: normal; }
ol, ul { list-style: none; }
h2, .outbound-link, .post-link, [id="mc_embed_signup_scroll"] h2 { font-size: 2.4rem; line-height: 1.08; }
h2 { color: rgb(53, 52, 50); font-family: lust, Palatino, 'Palatino Linotype', serif; font-weight: bold; }
.wf-active h2 { font-weight: normal; }
.outbound-link, .post-link { display: block; font-family: lust, Palatino, 'Palatino Linotype', serif; margin-top: 1.07867em; }
p { margin-bottom: 1.618em; }
.post-meta { margin-bottom: 2.24031em; }
.post-meta .categories { text-transform: lowercase; }
svg { height: 0.75em; width: 0.75em; }
.outbound-link svg { height: 0.5em; width: 0.5em; }
svg path { fill: currentcolor; }