<div id="mc_embed_signup">
  <form action="//jamessteinbach.us7.list-manage.com/subscribe/post?u=e06400c5106eb26339f4a0aea&amp;id=35bef0e04e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <h2 class="footer-title">Get New Posts &amp; Other Content in Your Inbox!</h2>
      <div class="mc-fields">
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group email">
          <label for="mce-EMAIL">Email Address<span class="asterisk">*</span></label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group fname">
          <label for="mce-FNAME">First Name</label>
          <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        </div>
        <div class="mc-field-group lname">
          <label for="mce-LNAME">Last Name </label>
          <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
        </div>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e06400c5106eb26339f4a0aea_35bef0e04e" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-alt">
      <p class="mc-ref">Powered by <a href="http://eepurl.com/AtwTT" title="MailChimp - email marketing made easy and fun">MailChimp</a></p>
    </div>
  </form>
</div>
