.post-list {
	@include scale-margin(p, 1, false, 1, 0);
	list-style: none;

	> li {
		@include scale-margin(p, false, false, 0.5, false);
	}
}

.category-archive {
	@include breakpoint(medium) {
		@include span(1 at 2);
	}
}

.outbound-link,
.post-link {
	display: block;
	@extend %h;
	@include scale-margin(h, 0, false, 0, false);
	background-image:
		-webkit-linear-gradient(
			left,
			$brand-color 0,
			$brand-color 22.5%,
			rgba($brand-color, 0.25) 27.5%,
			$brand-color 30%,
			$brand-color 100%
		),
		-webkit-linear-gradient(
			top,
			rgba($brand-color, 0.5) 0,
			rgba($brand-color, 0.5) 40%,
			rgba(white, 0.01) 50%,
			rgba($brand-color, 0.5) 60%,
			rgba($brand-color, 0.5) 100%
		);

	background: -o-linear-gradient(transparent, transparent);

	background-size: 400% 1.44382em, 100% 1.44382em;
	background-repeat: repeat-y;
	background-position: right center, center center;
	-webkit-background-clip: text;
	background-position: center center;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-text-fill-color: transparent;

	&:hover {
		background-position: left center, center center;
	}
}
.outbound-link {
	position: relative;
	padding-right: 2em;
	svg {
		display: block;
		content: '';
		position: absolute;
		top: .25em;
		right: 0;
		bottom: 0;
		width: .75em;
	}
	svg path {
		fill: rgba($brand-color, .25) !important;
		-webkit-transition: fill .3s;
		transition: fill .3s;
	}
	&:hover svg path {
		fill: $brand-color !important;
	}
}
.pagination {
	@extend %sm;
	@include scale-padding(sm, 1, 0, 0, 0);
	border: 1px solid $grey-color-light;
	border-width: 1px 0;
	// display: flex;
	// flex-direction: row;
	// justify-content: space-between;
	text-align: justify;

	&::after {
		content: '';
		height: 0;

		width: 100%;
		display: inline-block;
		vertical-align: top;
	}

	a,
	span {
		display: inline-block;
		vertical-align: top;
	}

	// .previous {
	// 	float: left;
	// }

	.page_number {
		text-align: center;
	}

	// .next {
	// 	float: right;
	// }
}