/**
 * Links
 */
a {
	color: $blog-color;
	text-decoration: none;
	-webkit-transition: color .3s;
	transition: color .3s;

	&:visited {
		color: $blog-color;
	}

	&:hover {
		color: darken($blog-color, 10%);
	}

	.post-content & {
		border-bottom: 1px solid currentColor;
	}
	.site-footer &,
	.site-header & {

		&,
		&:visited {
			color: $brand-color;
		}

		&:hover {
			color: darken($brand-color, 10%);
		}
	}
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

/**
 * Blockquotes
 */
blockquote {
	color: $grey-color;
	border: 2px solid $brand-color;
	border-width: 2px 0;
	@extend %bq;
	@include scale-padding(bq, 1, false, 1, false);
	font-style: italic;

	> :last-child {
		margin-bottom: 0;
	}
}

/**
 * Code formatting
 */
pre,
code {
	font-family: monospace;
	border: 1px solid scale-color($background-color, $lightness: 20%);
	border-radius: 3px;
	background-color: scale-color($background-color, $lightness: -10%);
}

code {
	padding: .125em .25em;
	@extend %sm;
}

pre {
	padding: .5em;
	@include scale-padding(p, .5, .5, .5, .5);
	overflow-x: scroll;
	background-color: scale-color($background-color, $lightness: -10%);

	> code {
		background-color: transparent;
		border: 0;
		line-height: 1;
		padding-right: 0;
		padding-left: 0;
	}
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

/**
 * Icons
 */
.icon {
	> svg {
		display: inline-block;
		width: 16px;
		height: 16px;
		vertical-align: middle;

		path {
			fill: $grey-color;
		}
	}
}