button,
.button,
[type="submit"] {
  @extend %tt-sm;
  @include scale-padding(sm, 0, .5, 0, .5);
  @include use-prop(background-color, color-link);
  @include use-prop(color, color-background);
  -webkit-font-smoothing: antialiased;
  appearance: none;
  border: 0;
  border-radius: $border-radius-default;
  box-shadow: none;
  display: inline-block;
  font-family: $font-body;
  font-weight: bold;
  letter-spacing: (1em / 32);
  text-transform: uppercase;
  transition: color .25s, opacity .25s, border-color .25s, background-color .25s, transform .25s $easing;

  &.button-alt {
    @include use-prop(background-color, color-highlight);
  }

  @include haf {
    @include use-prop(background-color, color-link-alt);
    @include use-prop(color, color-background);

    &.button-alt {
      @include use-prop(background-color, color-highlight-alt);
    }
  }
}

.button-theme {
  @include use-prop(background-image, icon-theme);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 0;
  font-size: 0;
  min-height: 44px;
  min-width: 44px;
  opacity: .5;
  position: absolute;
  right: 1vmin;
  top: 1vmin;

  @include haf {
    background-color: transparent;
    opacity: .65;
  }
}
