code {
  @extend %tt-sm;
  @include scale-padding(sm, .25, .125, .25, .125);
  background-color: mix($color-text, $color-background, 5%);
  border-radius: $border-radius-default;
  font-size: 82.5%;
  font-family: $font-code;
  font-weight: inherit;

  h2 & {
    font-weight: bold;
  }
}

pre > code {
  @extend %tt-sm;
  @include scale-margin(sm, 1, false, 1, false);
  @include scale-padding(sm, .5, .5, .5, .5);
  border: $border-default;
  color: $color-blue;
  display: block;
  overflow: scroll;
}

$code-selectors: ".c", ".err", ".k", ".o", ".cm", ".cp", ".c1", ".cs", ".gd", ".gd", ".x", ".ge", ".gr", ".gh", ".gi", ".gi .x", ".go", ".gp", ".gs", ".gu", ".gt", ".kc", ".kd", ".kp", ".kr", ".kt", ".m", ".s", ".na", ".nb", ".nc", ".no", ".ni", ".ne", ".nf", ".nn", ".nt", ".nv", ".ow", ".w", ".mf", ".mh", ".mi", ".mo", ".sb", ".sc", ".sd", ".s1", ".s2", ".se", ".sh", ".si", ".sx", ".sr", ".s1", ".ss", ".bp", ".vc", ".vg", ".vi", ".il", ".p";

.highlighter-rouge {
  @each $s in $code-selectors {
    #{$s} {
      $pct: 100% / length($code-selectors) * index($code-selectors, $s);
      color: mix($color-blue-dark, $color-green-dark, $pct);
    }
  }
}