code {
  @include scale-padding(p, .125, .125, .125, .125);
  @include use-prop(background-color, color-background-alt);
  @include use-prop(color, color-text-alt);
  border-radius: $border-radius-default;
  display: inline-block;
  font-family: $font-code;
  font-weight: inherit;
  line-height: 1;
  vertical-align: baseline;

  p > &,
  p a > & {
    font-size: 1.2em;
  }

  a & {
    color: inherit;
  }
}

pre > code {
  @extend %tt-sm;
  @include scale-margin(sm, 1, -.5, 1, -.5);
  @include scale-padding(sm, .5, .5, .5, .5);
  @include use-prop(background-color, color-background-code);
  border: $border-default;
  color: inherit;
  display: block;
  overflow: scroll;
  width: auto;
}

$code-selectors: ".c", ".err", ".k", ".o", ".cm", ".cp", ".c1", ".cs", ".gd", ".gd", ".x", ".ge", ".gr", ".gh", ".gi", ".gi .x", ".go", ".gp", ".gs", ".gu", ".gt", ".kc", ".kd", ".kp", ".kr", ".kt", ".m", ".s", ".n", ".na", ".nb", ".nc", ".nd", ".no", ".nl", ".ni", ".ne", ".nf", ".nn", ".nt", ".nv", ".ow", ".w", ".mf", ".mh", ".mi", ".mo", ".sb", ".sc", ".sd", ".s1", ".s2", ".se", ".sh", ".si", ".sx", ".sr", ".s1", ".ss", ".bp", ".vc", ".vg", ".vi", ".il", ".p";

.highlighter-rouge {
  @each $s in $code-selectors {
    #{$s} {
      $pct: 100% / length($code-selectors) * index($code-selectors, $s);
      color: mix($color-blue-dark, $color-green-dark, $pct);
    }
  }
}