@mixin fonts($family, $file, $style, $weight) {
	@font-face {
		font-family: $family;
		src: url("/webfonts/#{$file}.eot");
		src: url("/webfonts/#{$file}.eot?#iefix") format("embedded-opentype"),
			url("/webfonts/#{$file}.woff2") format("woff2"),
			url("/webfonts/#{$file}.woff") format("woff"),
			url("/webfonts/#{$file}.ttf") format("truetype");
		font-style: $style;
		font-weight: $weight;
	}	
}

// @include fonts(Texta, 2D4C2D_2_0, italic, bold);
@include fonts(Texta, 2D4C2D_1_0, italic, bold);

// @include fonts(Texta, 2D4C2D_3_0, normal, bold);
@include fonts(Texta, 2D4C2D_4_0, normal, bold);

@include fonts(Texta, 2D4C2D_A_0, italic, 300);

@include fonts(Texta, 2D4C2D_B_0, normal, 300);