@font-face {
	font-family: 'Texta';
	src: url("webfonts/2D4C2D_2_0.eot");
	src: url("webfonts/2D4C2D_2_0.eot?#iefix") format("embedded-opentype"),
		url("webfonts/2D4C2D_2_0.woff2") format("woff2"),
		url("webfonts/2D4C2D_2_0.woff") format("woff"),
		url("webfonts/2D4C2D_2_0.ttf") format("truetype");
	font-style: italic;
	font-weight: bold;
}


@font-face {
	font-family: 'Texta';
	src: url("webfonts/2D4C2D_3_0.eot");
	src: url("webfonts/2D4C2D_3_0.eot?#iefix") format("embedded-opentype"),
		url("webfonts/2D4C2D_3_0.woff2") format("woff2"),
		url("webfonts/2D4C2D_3_0.woff") format("woff"),
		url("webfonts/2D4C2D_3_0.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}


@font-face {
	font-family: 'Texta';
	src: url("webfonts/2D4C2D_A_0.eot");
	src: url("webfonts/2D4C2D_A_0.eot?#iefix") format("embedded-opentype"),
		url("webfonts/2D4C2D_A_0.woff2") format("woff2"),
		url("webfonts/2D4C2D_A_0.woff") format("woff"),
		url("webfonts/2D4C2D_A_0.ttf") format("truetype");
	font-style: italic;
	font-weight: 300;
}


@font-face {
	font-family: 'Texta';
	src: url("webfonts/2D4C2D_B_0.eot");
	src: url("webfonts/2D4C2D_B_0.eot?#iefix") format("embedded-opentype"),
		url("webfonts/2D4C2D_B_0.woff2") format("woff2"),
		url("webfonts/2D4C2D_B_0.woff") format("woff"),
		url("webfonts/2D4C2D_B_0.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}