@mixin fonts($family, $file, $style, $weight) {
  @font-face {
    font-family: $family;
    src: url("/webfonts/#{$file}.woff2") format("woff2"),
         url("/webfonts/#{$file}.woff") format("woff"),
         url("/webfonts/#{$file}.ttf") format("truetype");
    font-style: $style;
    font-weight: $weight;
  }
}

@include fonts(Salome, salome-webfont, normal, normal);
@include fonts(Salome, salome-webfont, normal, bold);
@include fonts(Salome, salome-webfont, italic, normal);
@include fonts(Salome, salome-webfont, italic, bold);