@mixin fonts($family, $file, $style, $weight) {
  @font-face {
    font-family: $family;
    src:  url("/webfonts/#{$file}.eot");
    src:  url("/webfonts/#{$file}.woff2") format("woff2"),
          url("/webfonts/#{$file}.woff") format("woff");
    font-style: $style;
    font-weight: $weight;
  }
}

@include fonts(Latina, latina-light, normal, normal);
@include fonts(Latina, latina-light-i, italic, normal);
@include fonts(Latina, latina-bold, normal, bold);
@include fonts(Latina, latina-bold-i, italic, bold);