.site-footer {
	border-top: 1px solid $grey-color-light;
	@include scale-padding(p, 1, false, 1, false);
	background: rgba($background-color, 0.85);
}

.footer-heading {
	@extend %p;
	@include scale-margin(p, false, false, 0.5, false);
}

.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0;
}

.footer-col-wrapper {
	@extend %sm;
	color: $grey-color;
	@include clearfix;
}

.footer-col {
	float: none;
	width: 100%;

	@include scale-margin(sm, false, false, 1, false);
	@include scale-padding(sm, false, false, false, false);
	
	@include breakpoint(default) {
		float: left;
	}

}

.footer-col-1 {
	@include breakpoint(default) {
		width: 50%;
	}
	@include breakpoint(medium) {
		width: 32%;
	}
}

.footer-col-2 {
	@include breakpoint(default) {
		width: 50%;
	}
	@include breakpoint(medium) {
		width: 20%;
	}
}

.footer-col-3 {
	@include breakpoint(default) {
		width: 100%;
	}
	@include breakpoint(medium) {
		width: 48%;
		margin-bottom: 0;
	}
}

.rss-subscribe {
	@include scale-margin(p, 1, false, 1, false);
}
