[id="mc_embed_signup_scroll"] {
  @include container;
  @include scale-margin(p, 0, false, 1, false);
  border-bottom: 1px solid $brand-color;
  padding: 0;

  h2 {
    @extend %sh;
    @include scale-margin(sh, 0, false, 0.5, false);
  }
}

.mc-fields {
  font-size: 0;
}

.mc-ref {
  @extend %sm;
  @include scale-margin(sm, 0, false, 1, false);
  font-style: italic;

  @include breakpoint(medium) {
    float: left;
    width: 50%;
  }

  @include breakpoint(large) {
    width: 66.7%;
  }
}

.mc-field-group {
  @extend %p;
  @include scale-margin(p, 0, 0, 1, 0);
  padding: 0;
  display: inline-block;
  position: relative;
  width: 100%;

  @include breakpoint(medium) {
    &[class*="name"] {
      width: 50%;
    }
  }

  @include breakpoint(large) {
    max-width: 33.3%;
    width: 33.3%;
  }

  label {
    @extend %sm;
    display: block;
    margin-top: .15em;
    position: absolute;
    top: 0; left: 1em;
    transform-origin: left top;
    transition: transform .25s ease-in-out, color .25s;
  }

  &.active-input label {
    transform: translateY(-80%) scale(.8);
  }
}

input {
  @extend %p;
  @include scale-padding(p, 0, .5, 0, .5);
  background-color: transparent;
  border: 1px solid $brand-color;
  color: $text-color;
  display: block;
  font-family: inherit;
  width: 100%;

  &:active,
  &:focus {
    outline: none;
    background-color: rgba($brand-color, .1);
  }

  .fname & {
    @include breakpoint(medium) {
      border-right: 0;
    }

    @include breakpoint(large) {
      border-left: 0;
    }
  }
}

input[type="submit"] {
  @include scale-margin(p, false, 0, 1, 0);
  @include scale-padding(p, 0, 1.5, 0, 1.5);
  background-color: $brand-color;
  border: none;
  box-shadow: none;
  color: $background-color;
  font-weight: bold;
  transition: background-color .25s, color .25s;
  text-transform: uppercase;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    background-color: scale-color($brand-color, $lightness: -25%);
  }

  @include breakpoint(medium) {
    float: right;
    width: 50%;
  }

  @include breakpoint(large) {
    width: 33.3%;
  }
}