[id="mc_embed_signup_scroll"] {
  @include scale-margin(p, 0, false, 1, false);
  border-bottom: $border-default;
  padding: 0;

  h2 {
    @extend %tt-subtitle;
    @include scale-margin(subtitle, .5, false, 1, false);
    text-align: center;
  }

  &::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
  }
}

[id="contact-form"] {
  @include scale-margin(p, 0, false, 1, false);
  @include scale-padding(p, 1, false, false, false);
}

.mc-fields {
  font-size: 0;
}

.mc-ref {
  @extend %tt-sm;
  @include scale-margin(sm, 0, false, 1, false);
  font-style: italic;

  @include breakpoint(medium) {
    float: left;
    width: 50%;
  }

  @include breakpoint(large) {
    width: 66.7%;
  }
}

.field-group,
.mc-field-group {
  @extend %tt-p;
  @include scale-margin(p, 0, 0, 1, 0);
  padding: 0;
  display: inline-block;
  position: relative;
  width: 100%;

  label {
    @extend %tt-sm;
    display: block;
    font-style: italic;
    position: absolute;
    top: .1em; left: 1em;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: transform .25s ease-in-out, color .25s;
    transition: transform .25s ease-in-out, color .25s;
  }

  &.active-input label {
    -webkit-transform: translateY(-80%) scale(.8);
    -transform: translateY(-80%) scale(.8);
  }
}

.mc-field-group {
  @include breakpoint(medium) {
    &[class*="name"] {
      width: 50%;
    }
  }

  @include breakpoint(large) {
    max-width: 33.3%;
    width: 33.3%;
  }
}

input,
textarea {
  @extend %tt-p;
  @include scale-padding(p, 0, .5, 0, .5);
  background-color: transparent;
  border: $border-default;
  border-radius: $border-radius-default;
  color: $color-text;
  display: block;
  font-family: inherit;
  width: 100%;

  @include haf {
    outline: none;
    background-color: mix($color-background, $color-link, 95%);
  }

  .fname & {
    @include breakpoint(medium) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right: 0;
    }

    @include breakpoint(large) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: 0;
    }
  }

  .email & {
    @include breakpoint(large) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .lname & {
    @include breakpoint(medium) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

[type="submit"] {
  @include scale-margin(p, false, 0, 1, 0);
  @include scale-padding(p, 0, 1.5, 0, 1.5);

  [id="mc_embed_signup"] & {
    width: 100%;

    @include breakpoint(medium) {
      float: right;
      width: 50%;
    }

    @include breakpoint(large) {
      width: 33.3%;
    }
  }

  &[id="contact-form-submit"] {
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    width: 50%;
  }
}

.form-message {
  p {
    @extend %tt-blockquote;
    @include scale-margin(blockquote, 1, false, 2, false);
    -webkit-animation: fade-down .35s ease-out;
    animation: fade-down .35s ease-out;
    font-weight: bold;
    text-align: center;
  }

  &.success {
    color: $color-green-dark;
  }

  &.error {
    color: $color-red;
  }
}

// Pageclip.io specific styles
.pageclip-form__success {
  background-color: rgba($color-background, .8) !important;
}

.pageclip-form__success .pageclip-form__success__message {
  @extend %tt-title;
  font-weight: bold;
}