[id="mc_embed_signup_scroll"] {
  border-bottom: $border-default;
  margin-top: 0;
  margin-bottom: $base-spacing;
  padding: 0;

  h2 {
    @include font-scale(blockquote);
    margin-top: $small-spacing;
    margin-bottom: $base-spacing;
    text-align: center;
  }

  &::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
  }
}

[id="contact-form"] {
  margin-top: 0;
  margin-bottom: $base-spacing;
  padding-top: $base-spacing;
}

.mc-fields {
  font-size: 0;
}

.mc-ref {
  @include font-scale(sm);
  font-style: italic;
  margin-top: 0;
  margin-bottom: $base-spacing;

  @include breakpoint(medium) {
    float: left;
    width: 50%;
  }

  @include breakpoint(large) {
    width: 66.7%;
  }
}

.field-group,
.mc-field-group {
  @include font-scale(p);
  display: inline-block;
  margin: 0 0 $base-spacing;
  padding: 0;
  position: relative;
  width: 100%;

  label {
    @include font-scale(sm);
    display: block;
    font-style: italic;
    position: absolute;
    top: .1em;
    left: 1em;
    transform-origin: left top;
    transition: transform .25s $easing, color .25s;
  }

  &.active-input label {
    transform: translateY(-80%) scale(.8);
  }
}

.mc-field-group {
  @include breakpoint(medium) {
    &[class*="name"] {
      width: 50%;
    }
  }

  @include breakpoint(large) {
    max-width: 33.3%;
    width: 33.3%;
  }
}

input,
textarea {
  @include font-scale(p);
  @include use-prop(color, color-text);
  background-color: transparent;
  border: $border-default;
  border-radius: $border-radius-default;
  display: block;
  font-family: inherit;
  padding: 0 $small-spacing;
  width: 100%;
  transition: color .25s, opacity .25s, background-color .25s, transform .25s $easing;

  @include haf {
    @include use-prop(background-color, color-background-alt);
    outline: none;
  }

  .fname & {
    @include breakpoint(medium) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right: 0;
    }

    @include breakpoint(large) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: 0;
    }
  }

  .email & {
    @include breakpoint(large) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .lname & {
    @include breakpoint(medium) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

[type="submit"] {
  margin: auto 0 $base-spacing;
  padding: 0 $base-spacing;

  [id="mc_embed_signup"] & {
    width: 100%;

    @include breakpoint(medium) {
      float: right;
      width: 50%;
    }

    @include breakpoint(large) {
      width: 33.3%;
    }
  }

  &[id="contact-form-submit"] {
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    width: 50%;
  }
}

.form-message {
  p {
    @include font-scale(blockquote);
    animation: fade-down .35s ease-out;
    font-weight: bold;
    margin-top: $base-spacing;
    margin-bottom: $large-spacing;
    text-align: center;
  }

  &.success {
    @include use-prop(color, color-success);
  }

  &.error {
    @include use-prop(color, color-error);
  }
}

// Pageclip.io specific styles
.pageclip-form__success {
  background-color: rgba($color-background, .8) !important;
}

.pageclip-form__success .pageclip-form__success__message {
  @include font-scale(subtitle);
  font-weight: bold;
}

// Mailchimp archive styles
[id="mailchimp-archive"] {
  @include font-scale(p);
  border-top: $border-default;
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
  padding-top: $base-spacing;

  .campaign {
    font-family: $font-code;
    margin-bottom: $tiny-spacing;

    a {
      font-family: $font-body;
    }
  }
}
