.site-header {
	border-top: 1px solid transparent;
	border-bottom: 1px solid $brand-color;
	position: relative;
	background: rgba($background-color, 0.9);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

.site-title {
	@extend %p;
	display: block;
	float: none;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0;
	@include scale-padding(p, .5, false, .5, false);

	@include breakpoint(medium) {	
		@include span(1 at 1);
	}
}

.site-nav {
	display: block;
	float: none;
	text-align: center;
		
	@include breakpoint(medium) {	
		@include span(1 at 2);
		text-align: right;
	}

	.menu-icon {
		display: none;
	}

	.page-link {
		@extend %p;
		display: inline-block;
		@include scale-padding(p, .5, false, .5, false);

		&:not(:first-child) {
			@include scale-margin(p, false, false, false, .5);
		}
	}
}