body {
  @supports (padding-right: constant(safe-area-inset-right)) {
    padding-right: constant(safe-area-inset-right);
    padding-left: constant(safe-area-inset-left);
  }
}

.wrapper {
  @include scale-padding(p, false, .5, false, .5);
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: $max-width;
}
