body {
	font-family: $base-font-family;
	font-weight: 300;
	color: $text-color;
	background-color: $background-color;
	-webkit-text-size-adjust: 100%;

	@if $dark {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: antialiased;
	}
}

.wrapper {
	width: 45em;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	@include clearfix;
	@include scale-padding(p, false, 0.5, false, 0.5);
}

.site-header,
.page-content,
.site-footer {
	position: relative;
	@extend %p;
}

.page-content {
	.wrapper {
		@include scale-padding(p, 4, false, false, false);
		background: rgba($background-color, 0.9);

		@include breakpoint(medium) {
			@include scale-padding(p, 2, false, false, false);
		}
	}
}

.page-heading {
	@extend %h;
	@include scale-margin(h, 1, false, 1, false);
}

.post-meta {
	@extend %sm;
	display: block;
	color: $blog-accent;
	font-style: italic;
	text-align: justify;

	span {
		display: inline-block;
		text-align: center;
	}

	a {
		display: inline-block;
		@include scale-padding(p, false, false, false, .25);
		font-style: normal;
	}

	&::after {
		content: '';
		width: 100%;
		height: 0px;
		display: inline-block;
	}
}

canvas {
	display:block;
	vertical-align:bottom;
}

#particles {
	position: fixed;
	z-index: -1;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: transparent;
}