html {
  @include use-prop(border-color, color-highlight);
  border-style: solid;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: $max-width;

  &::after {
    clear: both;
    content: '';
    display: block;
    width: 100%;
  }
}

.inner-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: ($max-width / 6 * 4);
}

.white-sheet {
  @include use-prop(background-color, color-background);
  @include use-prop(color, color-text);
  padding: $base-spacing $small-spacing;
  margin-bottom: $large-spacing;
  box-shadow: 1px 1px 0 1px $color-blue-dark,
              2px 2px 0 1px $color-blue-dark,
              3px 3px 0 1px $color-blue-dark,
              4px 4px 0 1px $color-blue-dark;

  @include bp(medium) {
    padding: $base-spacing;
  }
}
