a {
  @include use-prop(color, color-link);
  text-decoration: none;
  position: relative;
  transition: color .25s, text-decoration-color .25s, background-color .25s, opacity .25s, border .25s, transform .25s $easing;

  @include haf {
    @include use-prop(color, color-link-alt);
  }

  &.site-nav__link,
  .post-list & {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -1px;
      bottom: 0;
      left: -1px;
      transform: scaleX(0) rotate(4deg) translateY(.25em);
      opacity: 0;
      z-index: -1;
      transition: color .25s, opacity .25s, transform .25s $easing;
    }

    @include haf {
      &::before {
        transform: scaleX(1) rotate(-1deg) translateY(0);
        opacity: .2;
      }
    }
  }

  &.site-nav__link::before {
    @include use-prop(color, color-background);
    background-image: linear-gradient(0deg, currentColor 0, currentColor 1em, transparent 1em);
    z-index: 0;
  }

  .post-content & {
    text-decoration: underline;

    @supports (text-decoration-skip: ink) {
      text-decoration-color: currentColor;
      text-decoration-skip: ink;
      text-decoration-style: underline;
    }

    @include haf {
      @include use-prop(text-decoration-color, color-highlight);
      @include use-prop(background-color, color-highlight-pale);
    }
  }

  .post-list &::before {
    @include use-prop(border-color, color-highlight);
    border-style: solid;
    border-width: $tiny-spacing;
  }
}

h2,
h3 {
  &[id] {
    &::after {
      content: ' #';
      opacity: 0;
      transition: opacity .25s;
    }

    @include haf {
      &::after {
        opacity: 1;
      }
    }
  }
}
