img {
  display: block;
  height: auto;
  max-width: 100%;
}

.alignleft {
  clear: right;
  float: left;
  margin-right: $small-spacing;
  margin-bottom: $small-spacing;
  margin-left: 0;
}

.alignright {
  clear: left;
  float: right;
  margin-right: 0;
  margin-bottom: $small-spacing;
  margin-left: $small-spacing;
}

.aligncenter {
  margin-left: auto;
  margin-bottom: $base-spacing;
  margin-right: auto;
}

svg {
  height: .75em;
  width: .75em;

  .outbound-link & {
    height: .5em;
    width: .5em;
  }

  path {
    button &,
    a & {
      fill: currentColor;
    }
  }
}
