.alignright {
	float: right;
	@include scale-margin(p, 0, 0, .5, 1);
}

.alignleft {
	float: left;
	@include scale-margin(p, 0, 1, .5, 0);
}

.post-content .img-caption > .img-caption-text {
	font-style: italic;
	text-align: center;
	@extend %sm;
	@include scale-margin(sm, 0, 0, .5, 0);
}

img {
	max-width: 100%;
	vertical-align: middle;
	
	figure > & {
		display: block;	
	}

	.post-content a > & {
		display: block;
		transition: opacity .25s;
		opacity: .9;
	}

	.post-content a:hover > & {
		opacity: 1;
	}
}

figcaption {
	@extend %sm;
}