img {
  display: block;
  height: auto;
  max-width: 100%;
}

.alignleft {
  @include scale-margin(p, false, .5, .5, 0);
  clear: right;
  float: left;
}

.alignright {
  @include scale-margin(p, false, 0, .5, .5);
  clear: left;
  float: right;
}

.aligncenter {
  @include scale-margin(p, false, false, 1, false);
  margin-left: auto;
  margin-right: auto;
}

svg {
  height: .75em;
  width: .75em;

  .outbound-link & {
    height: .5em;
    width: .5em;
  }

  path {
    fill: currentColor;
  }
}
