.post-meta {
  @include font-scale(sm);
  margin-bottom: $base-spacing;
  @include use-prop(color, color-text);

  .post-header & {
    color: $color-gray-pale;
  }

  .categories {
    text-transform: lowercase;
  }

  .author {
    font-style: italic;

    &::before {
      content: " ~ ";
    }

    &::after {
      content: " ~ ";
    }
  }

  .post-header & {
    text-align: center;
  }
}

.post-header {
  a {
  }
}
