
.pagination {
  @extend %tt-sm;
  @include scale-padding(sm, .5, false, false, false);
  border-top: $border-default;
  text-align: center;

  a,
  span {
    display: inline-block;
    vertical-align: top;
    width: 30%;
  }

  .previous {
    text-align: left;
  }

  .page-number {
    text-align: center;
  }

  .next {
    text-align: right;
  }
}
