.post-meta {
  @include font-scale(sm);
  margin-bottom: $base-spacing;

  .categories {
    text-transform: lowercase;
  }

  .author {
    font-style: italic;

    &::before {
      content: " ~ ";
    }

    &::after {
      content: " ~ ";
    }
  }

  .post-header & {
    text-align: center;
  }
}

.page-content {
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;

  .button {
    margin-bottom: $small-spacing;
  }
}
