.post {
	@include breakpoint(medium) {
		@include span(1 at 2);
	}
}
.sidebar {
	display: none;

	@include breakpoint(medium) {
		display: block;
		@include span(1 at 1);
		@include scale-padding(p, 1, false, false, false);
	}

	.post-meta {
		span {
			@include breakpoint(medium) {
				display: block;
			}
		}
	}
}

.post-header {
	@include scale-margin(p, false, false, 1, false);

	.post-meta {
		@include breakpoint(medium) {
			display: none;
		}
	}
}

.post-title {
	@extend %h;
	@include scale-margin(h, 1, false, 0, false);
	color: $blog-accent;

	& + .post-meta {
		color: $grey-color;
	}
}

.post-content {
	@include scale-margin(p, 0, false, 2, false);

	h2 {
		@extend %sh;
		@include scale-margin(sh, 1, false, 0.5, false);
	}

	h3 {
		@extend %ssh;
		@include scale-margin(ssh, 1, false, 0.5, false);
	}

	h4 {
		@extend %bq;
		@include scale-margin(bq, 1, false, 0.5, false);
	}

	p, ul, ol, pre, blockquote,, .wp-caption {
		@extend %p;
		margin-top: 0;
		margin-bottom: 0;
		@include scale-margin(p, false, false, 1, false);

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul, ol {
		margin-left: 2em;
		@include scale-margin(p, false, false, 1, 1);

		li {
			@include scale-margin(p, false, false, .5, false);
		}

		> ul,
		> ol {
			margin-bottom: 0;
		}
	}

	ul {
		list-style: disc;

	}

	ol {
		list-style-type: decimal;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	pre {
		clear: both;
	}

	div {
		max-width: 100%;
	}

	iframe {
		@include scale-margin(p, false, false, 1, false);
	}
}

#main > * {
	-webkit-animation: contentIn .75s ease-out;
	animation: contentIn .75s ease-out;
}

@-webkit-keyframes contentIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes contentIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#available {
	text-align: center;
	p {
		@extend %ssh;
		display: inline-block;
		vertical-align: middle;
		@include scale-padding(ssh, 0, 1, 1, 1);
		margin-bottom: 0;
	}
}