.site-footer {
  @include scale-padding(p, .5, false, .5, false);
  border-top: $border-default;
}

.footer-col {
  @include scale-margin(p, false, false, 1, false);

  &,
  p {
    @extend %tt-sm;
  }

  p {
    @include scale-margin(sm, false, false, 1, false);
  }

  @include breakpoint(medium) {
    &:nth-child(1),
    &:nth-child(3) {
      float: left;
      width: 50%;
    }
  }

  @include breakpoint(large) {
    float: left;
    margin-bottom: 0;
    width: 33% !important;
  }
}

.contact-list li:first-child {
  font-weight: bold;
}