.site-header {
  @include scale-padding(p, .5, false, .5, false);
  animation: fade .35s ease-out;
  border-bottom: $border-default;
  text-align: center;
}

.site-title {
  @extend %tt-p;
  @include scale-padding(p, .25, .5, .25, .5);
  display: inline-block;
  font-family: $font-headline;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  @include breakpoint(xlarge) {
    text-align: left;
    width: 33%;
  }
}
