body {
  @supports (padding: env(safe-area-inset-left)) {
    padding-right: env(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
  }
}

.post-content a {
  @supports (text-decoration-skip: ink) {
    text-decoration-color: currentColor;
    text-decoration-skip: ink;
    text-decoration-style: underline;
  }
}
