body {
  @extend %tt-p;
  background-color: $color-background;
  color: $color-text;
  font-family: $font-body;
  -moz-font-feature-settings: "kern", "liga";
  -webkit-font-feature-settings: "kern", "liga";
  font-feature-settings: "kern", "liga";
}

h1 {
  @extend %tt-title;
  color: $color-text-alt;
  font-family: $font-headline;
  font-weight: bold;

  .wf-active & {
    font-weight: normal;
  }
}

h2 {
  @extend %tt-subtitle;
  color: $color-text-alt;
  font-family: $font-headline;
  font-weight: bold;

  .post-content & {
    @include scale-margin(subtitle, 1, false, .5, false);
   color: $color-text-alt;
 }

  .wf-active & {
    font-weight: normal;
  }
}

h3 {
  .post-content & {
    @include scale-margin(p, .5, false, false, false);
    color: $color-text-alt;
    font-weight: bold;
    letter-spacing: (1em / 32);
    text-transform: uppercase;
  }
}

.page-heading,
.post-title {
  @extend %tt-hero;
  @include scale-margin(hero, 1, false, false, false);
  color: $color-text-alt;
  text-align: center;
  text-transform: uppercase;
}

.page-heading {
  @extend %tt-title;
  @include scale-margin(title, false, false, 1, false);
}

p {
  @extend %tt-p;
  @include scale-margin(p, false, false, 1, false);

  .post-content & {
  }
}

.outbound-link,
.post-link {
  @extend %tt-subtitle;
  @include scale-margin(subtitle, 1, false, false, false);
  display: block;
  font-family: $font-headline;
}

b,
em {
  color: $color-text-alt;
}