body {
  @extend %tt-p;
  background-color: $color-background;
  color: $color-text;
  font-family: $font-body;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1 {
  @extend %tt-title;
  color: $color-text-alt;
  font-family: $font-headline;
  font-weight: bold;
}

h2 {
  @extend %tt-subtitle;
  color: $color-text-alt;
  font-family: $font-headline;
  font-weight: bold;

  .post-content & {
    @include scale-margin(subtitle, 1, false, .5, false);
    color: $color-text-alt;
  }
}

h3 {
  .post-content & {
    @include scale-margin(p, .5, false, false, false);
    color: $color-text-alt;
    font-weight: bold;
    letter-spacing: (1em / 32);
    text-transform: uppercase;
  }
}

h4 {
  .post-content & {
    @include scale-margin(p, .5, false, false, false);
    color: $color-text-alt;
    font-weight: bold;
  }
}

.page-heading,
.post-title {
  @extend %tt-hero;
  @include scale-margin(hero, 1, false, false, false);
  color: $color-text-alt;
  letter-spacing: (1em / 32);
  text-align: center;
  text-transform: uppercase;
}

.post-title {
  @include scale-margin(hero, false, false, 1, false);
}

.page-heading {
  @extend %tt-title;
  @include scale-margin(title, false, false, 1, false);
}

p {
  @extend %tt-p;
  @include scale-margin(p, false, false, 1, false);

  .post-content & {
  }
}

.outbound-link,
.post-link {
  @extend %tt-subtitle;
  @include scale-margin(subtitle, 1, false, false, false);
  display: block;
  font-family: $font-headline;
}

b,
strong {
  color: $color-text-alt;
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

.post-content {
  > ul,
  > ol {
    @include scale-margin(p, false, false, 1, false);

    li {
      @include scale-margin(p, .5, false, false, .618);
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    ul {
      list-style-type: square;
    }

    li ul {
      list-style-type: circle;
    }

    ol {
      list-style-type: upper-alpha;
    }

    li ol {
      list-style-type: lower-roman;
    }
  }
}