body {
  @include font-scale(p);
  @include use-prop(background-color, color-background-page);
  @include use-prop(color, color-background);
  font-family: $font-body;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1 {
  @include font-scale(subtitle);
  @include use-prop(color, color-text-alt);
  font-family: $font-headline;
  font-weight: bold;
}

h2 {
  @include font-scale(blockquote);
  @include use-prop(color, color-text-alt);
  font-family: $font-headline;
  font-weight: bold;

  .post-content & {
    @include use-prop(color, color-text-alt);
    margin-top: $base-spacing;
    margin-bottom: $small-spacing;
  }
}

h3 {
  .post-content & {
    @include use-prop(color, color-text-alt);
    font-weight: bold;
    letter-spacing: (1em / 32);
    margin-top: $small-spacing;
    text-transform: uppercase;
  }
}

h4 {
  .post-content & {
    @include use-prop(color, color-text-alt);
    font-weight: bold;
    margin-top: $small-spacing;
  }
}

.page-heading,
.post-title {
  @include use-prop(color, color-page-title);
  @include font-scale(hero);
  color: $color-gray-pale;
  letter-spacing: (1em / 32);
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 $color-blue-dark,
               2px 2px 0 $color-blue-dark,
               3px 3px 0 $color-blue-dark,
               4px 4px 0 $color-blue-dark;
  -webkit-font-smoothing: antialiased;
}

.footer-title {
  text-shadow: 1px 1px 0 $color-blue-dark,
               2px 2px 0 $color-blue-dark,
               3px 3px 0 $color-blue-dark,
               4px 4px 0 $color-blue-dark;
}

p {
  @include font-scale(p);

  &:not(:empty) {
    margin-bottom: $base-spacing;
  }
}

.outbound-link,
.post-link {
  @include font-scale(blockquote);
  display: block;
  font-family: $font-headline;
  margin-top: $base-spacing;

  li:first-child & {
    margin-top: 0;
  }
}

b,
strong {
  @include use-prop(color, color-text-alt);
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

.post-content {
  > ul,
  > ol {
    margin-bottom: $base-spacing;

    li {
      margin-top: $small-spacing;
      margin-bottom: $small-spacing;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    ul {
      list-style-type: square;
    }

    li ul {
      list-style-type: circle;
    }

    ol {
      list-style-type: upper-alpha;
    }

    li ol {
      list-style-type: lower-roman;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    em {
      @include use-prop(color, color-text-accent);
      font-style: italic;
    }
  }
}
