/*
 * COLORS
 * From: http://www.colourlovers.com/palette/38562/Hands_On
 */

@function custom-darken($color) {
  $orig-blue:        #2790B0;
  $orig-blue-dark:   #2B4E72;

  $hue-diff: hue($orig-blue-dark) - hue($orig-blue);
  $sat-diff: saturation($orig-blue-dark) - saturation($orig-blue);
  $light-diff: lightness($orig-blue-dark) - lightness($orig-blue);

  @return adjust-color(
    $color,
    $hue: $hue-diff,
    $saturation: $sat-diff,
    $lightness: $light-diff
  );
}

$color-blue:        #2B4E72;//#2790B0;
$color-blue-dark:   custom-darken($color-blue);

$color-green:       #384b22;//#94BA65;
$color-green-dark:  custom-darken($color-green);

$color-red:         #9d2109;//#a9240a;
$color-red-dark:    custom-darken($color-red);

$color-gray:        #4E4D4A;
$color-gray-dark:   custom-darken($color-gray);
$color-gray-pale:   scale-color($color-blue, $lightness: 90%); // #e7f5fa

$color-text:        $color-gray;
$color-text-alt:    $color-gray-dark;
$color-text-accent: $color-blue-dark;

$color-link:        $color-blue;
$color-link-alt:    $color-blue-dark;

$color-link-2:      $color-green;
$color-link-2-alt:  $color-green-dark;

$color-background:  $color-gray-pale;

@function custom-prop($name, $value) {
  @return var($name, $value);
}

:root {
  --color-text:        $color-gray;
  --color-text-alt:    $color-gray-dark;
  --color-text-accent: $color-blue-dark;

  --color-link:        $color-blue;
  --color-link-alt:    $color-blue-dark;

  --color-link-2:      $color-green;
  --color-link-2-alt:  $color-green-dark;

  --color-background:  $color-gray-pale;
}

/*
 * BORDERS
 */
$border-color:           mix($color-text, $color-background);
$border-default:         1px solid $border-color;
$border-radius-default:  3px;

/*
 * FONTS
 */
$font-body:     Latina, Helvetica Neue, Helvetica, sans-serif;
$font-headline: $font-body;
$font-code:     monospace;

$startsmall: true;
@include remove-breakpoint(xlarge);

@include add-breakpoint(default, 0em, 1.2rem, 1.5, major-scale);
@include add-breakpoint(medium, 30em, 1.4rem, 1.618, pentatonic);
@include add-breakpoint(large, 60em, 1.6rem, 1.618, major-triad);
@include add-breakpoint(xlarge, 90em, 1.8rem, 1.618, major-triad);

@include set-hierarchy(sm p blockquote subtitle null title skip hero);
@include set-hierarchy(sm p blockquote subtitle title hero);

@include type-tune(extend);

/*
 * LAYOUT
 */
$max-width: 45em;