/*
 * COLORS
 * From: http://www.colourlovers.com/palette/38562/Hands_On
 */
$color-blue:        #2790B0;
$color-blue-dark:   #2B4E72;

$color-green:       #94BA65;
$color-green-dark:  #69895c;

$color-red:         #a9240a;
$color-red-dark:    #673712;

$color-gray:        #4E4D4A;
$color-gray-dark:   #353432;

$color-text:        $color-gray;
$color-text-alt:    $color-gray-dark;
$color-text-accent: $color-blue-dark;

$color-link:        $color-blue;
$color-link-alt:    $color-blue-dark;

$color-link-2:      $color-green;
$color-link-2-alt:  $color-green-dark;

$color-background:  scale-color($color-link, $lightness: 90%);

/*
 * BORDERS
 */
$border-color:           mix($color-text, $color-background);
$border-default:         1px solid $border-color;
$border-radius-default:  3px;

/*
 * FONTS
 */
// $font-body:     Palatino Linotype, Palatino, serif;
// $font-headline: Salome, Palatino Linotype, Palatino, serif;
$font-body:     Latina, Helvetica Neue, Helvetica, sans-serif;
$font-headline: $font-body;
$font-code:     monospace;

$startsmall: true;
@include remove-breakpoint(xlarge);

@include add-breakpoint(default, 0em, 1.2rem, 1.5, major-scale);
@include add-breakpoint(medium, 30em, 1.4rem, 1.618, pentatonic);
@include add-breakpoint(large, 60em, 1.6rem, 1.618, major-triad);
@include add-breakpoint(xlarge, 90em, 1.8rem, 1.618, major-triad);

@include set-hierarchy(sm p blockquote subtitle null title skip hero);
@include set-hierarchy(sm p blockquote subtitle title hero);

@include type-tune( extend );

/*
 * LAYOUT
 */
$max-width: 45em;