.archive-item {
  margin-bottom: $large-spacing;

  @include bp(large) {
    margin-bottom: $giant-spacing;
  }
}

.archive-item__title {
  --wght: var(--fw-medium);

  margin-bottom: $small-spacing;
  position: relative;
  font-size: var(--fs-heading);
}

.archive-item__excerpt {
  margin-top: $tiny-spacing;
  margin-bottom: $tiny-spacing;
  color: var(--color-text);
}

.archive-item__meta {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  z-index: 2;
  font-size: var(--fs-small);
  color: var(--color-text-alt);
}

.archive-item__date {
  text-transform: uppercase;
}

.archive-item__categories a {
  --smcp: 1;
}

.archive-item__link {
  display: block;
  text-decoration: none;

  &::before {
    content: "";
    margin: auto;
    height: 3 * $base-spacing;
    position: absolute;
    inset: 0 (-$base-spacing);
    z-index: 1;
    background-image:
      linear-gradient(
        180deg,
        var(--color-accent-1) 33.3%,
        var(--color-accent-2) 33.3%,
        var(--color-accent-2) 66.7%,
        var(--color-accent-3) 66.7%
      );
    transform: skew(0, var(--tilt)) scaleY(0);
    transform-origin: center;
    transition: opacity $duration, transform $duration $easing;
    opacity: 0;
    mix-blend-mode: var(--blend-mode, darken);
  }

  &:hover,
  &:active {
    color: var(--color-text-alt);

    &::before {
      transform: skew(0, var(--tilt)) scaleY(1);
      opacity: 0.5;
    }
  }

  svg {
    display: inline;
    color: var(--color-link-alt);
  }
}

.archive-item .category-link {
  text-decoration: none;
}
