@use "../variables" as v;

.drop-cap {
  margin: v.$small-spacing v.$small-spacing 0 0;
  padding: (v.$tiny-spacing * 1.14) v.$small-spacing 0;
  display: inline-block;
  float: left;
  font-family: var(--ff-title);
  font-size: 350%;
  line-height: 1;
  color: var(--color-background-page);
  background-image:
    linear-gradient(
      180deg,
      v.$color-orange 33.3%,
      v.$color-goldenrod 33.3%,
      v.$color-goldenrod 66.7%,
      v.$color-yellow 66.7%
    );
  background-repeat: no-repeat;
  background-position: center bottom;
  transform: skewY(var(--tilt));

  @supports (background-clip: text) {
    margin: v.$tiny-spacing v.$tiny-spacing (-1 * v.$base-spacing) 0;
    padding: 0;
    color: transparent;
    background-clip: text;
    background-image:
      linear-gradient(
        180deg,
        v.$color-orange 33%,
        v.$color-goldenrod 33%,
        v.$color-goldenrod 55%,
        v.$color-yellow 55%
      );
  }
}
