.hero {
  --color-link: var(--color-link-light);
  --color-link-alt: var(--color-link-light-alt);

  margin:
    calc(49vw * var(--tilt-tan))
    0
    calc(100vw * var(--tilt-tan));
  width: 100%;
  height: calc((1 - var(--tilt-tan)) * 100vh);
  display: grid;
  grid-template:
    ".      .      ." 1fr
    ".      title  ." auto
    ".      .      ." 1fr
    "border border border" (3 * $base-spacing) /
    var(--horizontal-spacing) 1fr var(--horizontal-spacing);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--color-background-hero);
  transform: skew(0, var(--tilt));
  transform-origin: center;

  > svg {
    margin: 0;
    height: 100%;
    width: 100%;
    display: block;
    grid-area: 1 / 1 / -2 / -1;
    z-index: 0;
    overflow: hidden;
    pointer-events: auto;
  }

  &::before {
    content: "";
    height: calc(100vw * var(--tilt-tan));
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: inherit;
    transform: skew(0, calc(-1 * var(--tilt)));
    transform-origin: right top;
  }

  &::after {
    content: "";
    margin: 0;
    width: 100%;
    height: (3 * $base-spacing);
    display: block;
    grid-area: border;
    position: relative;
    z-index: 1;
    background-image:
      linear-gradient(
        180deg,
        var(--color-accent-1) 33.33%,
        var(--color-accent-2) 33.33%,
        var(--color-accent-2) 66.67%,
        var(--color-accent-3) 66.67%
      );
  }
}

.hero__title {
  margin: $base-spacing auto;
  width: 100%;
  max-width: $max-width--wide;
  grid-area: title;
  position: relative;
  z-index: 1;
  font-size: var(--fs-hero);
  font-family: var(--ff-title);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-page-title);
  text-shadow:
    text-shadow(
      $depth: 5px,
      $steps: 10,
      $highlight-color: var(--color-accent-3),
      $shadow-color: var(--color-accent-1)
    );

  &.is-long {
    font-size: var(--fs-title);
  }
}
