// Mailchimp archive styles
[id="newsletter-archive"] {
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
  padding-top: $base-spacing;
  border-top: $border-default;

  .campaign {
    --tnum: 1;

    margin-bottom: $tiny-spacing;

    a {
      font-family: var(--ff-body);
    }
  }
}
