@use "../variables" as v;

// Mailchimp archive styles
[id="newsletter-archive"] {
  margin-top: v.$base-spacing;
  margin-bottom: v.$base-spacing;
  padding-top: v.$base-spacing;
  border-top: v.$border-default;

  .campaign {
    --tnum: 1;

    margin-bottom: v.$tiny-spacing;

    a {
      font-family: var(--ff-body);
    }
  }
}
