.pagination {
  margin-top: $base-spacing;
  padding: $base-spacing 0;
  display: grid;
  grid-template:
    "left center right" auto /
    1fr 1fr 1fr;
  font-size: var(--fs-small);
  border-top: $border-default;

  .previous {
    --dir: -1;

    grid-area: left;
    justify-self: start;

    &::after {
      --skew: -1;
    }
  }

  .next {
    grid-template:
      "text top" auto
      "text bottom" auto /
      1fr auto;
    grid-area: right;
    justify-self: end;

    &::before {
      --skew: -1;
    }
  }
}

.pagination__link {
  --smcp: 1;

  display: grid;
  grid-template:
    "top    text" auto
    "bottom text" auto /
    auto   1fr;
  grid-area: left;
  align-items: center;
  justify-self: start;
  column-gap: $small-spacing;

  span {
    grid-area: text;
  }

  &::before,
  &::after {
    content: "";
    width: $small-spacing;
    height: $small-spacing;
    display: inline-block;
    grid-area: top;
    align-self: end;
    background-image:
      linear-gradient(
        90deg,
        transparent,
        var(--color-accent-1) 0,
        var(--color-accent-1) 33.33%,
        var(--color-accent-2) 33.33%,
        var(--color-accent-2) 66.67%,
        var(--color-accent-3) 66.67%,
        var(--color-accent-3) 100%,
        transparent
      );
    transform: translateX(calc(var(--dir, 1) * var(--distance, 0px))) skewX(calc(var(--skew, 1) * var(--tilt)));
    transition: transform $duration $easing;
  }

  &::after {
    grid-area: bottom;
    align-self: start;
  }

  &:hover,
  &:active {
    --distance: #{$tiny-spacing};
  }
}

.pagination__number {
  --smcp: 1;

  grid-area: center;
  justify-self: center;

  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}
