@use "../mixins/bp";
@use "../variables" as v;

.site-header {
  --max-width: #{v.$max-width--wide};
  --color-link: var(--color-link-light);
  --color-link-alt: var(--color-link-light-alt);
  --color-focus: var(--color-link-light);
  --header-bg: var(--color-background-hero);

  padding: v.$small-spacing 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  color: var(--color-text-light);

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: var(--header-bg);
    opacity: var(--header-opacity, 1);
  }
}

.site-header__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.site-header__title {
  --wght: var(--fw-medium);

  display: inline-block;
  line-height: var(--lh-title);
  text-decoration: none;
}

.site-header__menu-toggle {
  display: none;

  svg {
    width: v.$small-spacing;
    height: v.$small-spacing;
    overflow: visible;
  }

  rect {
    transform-origin: center;
    transform-box: fill-box;
    transform: skewY(var(--tilt));

    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        fill: var(--color-accent-#{$i});
      }
    }
  }

  .js & {
    display: inline-flex;
    position: relative;

    @include bp.bp(nav) {
      display: none;
    }
  }
}
