.starfield__bg {
  fill: var(--color-purple-dark);
  opacity: 0;
}

.starfield__layer {
  transform-box: view-box;
  transform-origin: center;
  animation: field 10s infinite normal paused linear;

  svg:hover & {
    animation-play-state: running;
  }

  @for $i from 1 through 6 {
    &:nth-of-type(#{$i}) {
      animation-delay: (1 - $i) * 2s;
    }
  }
}

.starfield__star {
  fill: $color-white;
}

@keyframes field {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  40% {
    transform: scale(1);
    opacity: 1;
  }

  80%,
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
