:root {
  --color-text: #{$color-gray};
  --color-text-alt: #{$color-black};
  --color-text-accent: #{$color-purple};
  --color-text-light: #{$color-background};
  --color-page-title: #{$color-background};
  --color-dark: #{$color-black};
  --color-light: #{$color-background};

  --color-background: #{$color-background};
  --color-background-page: #{$color-background-pale};
  --color-background-fade: #{rgba($color-background, .9)};
  --color-background-hero: var(--color-purple-dark);
  --color-background-dark: #{$color-gray};
  --color-background-code: #{rgba($color-gray, .15)};

  --color-accent-1: #{$color-orange};
  --color-accent-2: #{$color-goldenrod};
  --color-accent-3: #{$color-yellow};

  --color-link: #{$color-purple};
  --color-link-alt: #{$color-pink};

  --color-link-2: #{$color-orange};
  --color-link-2-alt: #{$color-goldenrod};

  --color-link-light: #{$color-background};
  --color-link-light-alt: #{$color-yellow};

  --color-purple-dark: #{mix($color-purple, $color-gray)};

  --color-highlight: #{$color-goldenrod};
  --color-highlight-alt: #{$color-orange};
  --color-highlight-pale: #{rgba($color-orange, .15)};

  --tilt: -10deg;
  --tilt-tan: .176;

  --fs-ratio: 1.25;
  --fs-body: 1rem;
  --fs-blockquote: calc(var(--fs-body) * (((var(--fs-ratio) - 1) / 2) + 1));
  --fs-subheading: calc(var(--fs-body) * var(--fs-ratio));
  --fs-heading: calc(var(--fs-subheading) * var(--fs-ratio) * var(--fs-ratio));
  --fs-title: calc(var(--fs-heading) * var(--fs-ratio) * var(--fs-ratio));
  --fs-hero: calc(var(--fs-title) * var(--fs-ratio));
  --fs-small: calc(var(--fs-body) / var(--fs-ratio));

  --fw-lightest: 250;
  --fw-light: 320;
  --fw-body: 375;
  --fw-medium: 550;
  --fw-bold: 700;
  --fw-heavy: 800;

  --ff-body: Work Sans, -apple-system, Helvetica Neue, Helvetica, Roboto, Segoe UI, sans-serif;
  --ff-title: Teko, var(--ff-body);
  --ff-code: monospace;

  --lh-body: 1.5;
  --lh-heading: 1.2;

  --horizontal-spacing: #{$small-spacing};

  @supports (padding: env(safe-area-inset-left)) {
    --horizontal-spacing: calc(#{$small-spacing} + env(safe-area-inset-right));
  }

  @supports (font-variation-settings: normal) {
    --ff-body: Work Sans VF, Work Sans, -apple-system, Helvetica Neue, Helvetica, Roboto, Segoe UI, sans-serif;
  }

  @include bp(medium) {
    --fs-body: calc(21rem / 16);
    --fs-ratio: 1.3;
    --lh-body: 1.6;
  }

  @include bp(large) {
    --fs-body: calc(24rem / 16);
    --fs-ratio: 1.4;
    --lh-body: 1.7;
  }

  @include bp(xlarge) {
    --fs-body: calc(27rem / 16);
  }

  [data-theme="auto"] {
    @media (prefers-color-scheme: dark) {
      --color-text: #{$color-background};
      --color-text-alt: #{$color-background-pale};
      --color-text-accent: #{$color-pink};

      --color-background: #{$color-gray};
      --color-background-page: #{$color-black};
      --color-background-fade: #{rgba($color-gray, .9)};
      --color-background-hero: var(--color-purple-dark);
      --color-background-dark: #{$color-gray};
      --color-background-code: #{rgba($color-goldenrod, .15)};

      --color-accent-1: #{mix($color-orange, $color-gray, 75%)};
      --color-accent-2: #{mix($color-goldenrod, $color-gray, 75%)};
      --color-accent-3: #{mix($color-yellow, $color-gray, 75%)};

      --color-purple-dark: #{mix($color-purple, $color-black, 35%)};

      --color-link: #{rgba($color-yellow, .75)};
      --color-link-alt: #{$color-background-pale};

      --color-link-2: #{$color-pink};
      --color-link-2-alt: #{mix($color-purple, $color-white)};

      --blend-mode: lighten;
    }
  }

  [data-theme="dark"] {
    --color-text: #{$color-background};
    --color-text-alt: #{$color-background-pale};
    --color-text-accent: #{$color-pink};

    --color-background: #{$color-gray};
    --color-background-page: #{$color-black};
    --color-background-fade: #{rgba($color-gray, .9)};
    --color-background-hero: var(--color-purple-dark);
    --color-background-dark: #{$color-gray};
    --color-background-code: #{rgba($color-goldenrod, .15)};

    --color-accent-1: #{mix($color-orange, $color-gray, 75%)};
    --color-accent-2: #{mix($color-goldenrod, $color-gray, 75%)};
    --color-accent-3: #{mix($color-yellow, $color-gray, 75%)};

    --color-purple-dark: #{mix($color-purple, $color-black, 35%)};

    --color-link: #{rgba($color-yellow, .75)};
    --color-link-alt: #{$color-background-pale};

    --color-link-2: #{$color-pink};
    --color-link-2-alt: #{mix($color-purple, $color-white)};

    --blend-mode: lighten;
  }
}
