html {
  @include use-prop(border-color, color-highlight);
  border-style: solid;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: $small-spacing;
  padding-right: $small-spacing;
  width: $max-width;

  &::after {
    clear: both;
    content: '';
    display: block;
    width: 100%;
  }
}

.inner-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: ($max-width / 6 * 4);
}
