.site-footer {
  @include use-prop(background-color, color-background-alt);
  padding-bottom: $base-spacing;
  padding-top: $base-spacing;
}

.footer-col {
  margin-bottom: $base-spacing;

  &,
  p {
    @include font-scale(sm);
  }

  p {
    margin: 0;
  }

  @include breakpoint(medium) {
    &:nth-child(1),
    &:nth-child(3) {
      float: left;
      width: 50%;
    }
  }

  @include breakpoint(large) {
    float: left;
    margin-bottom: 0;
    width: 33% !important;
  }
}

.contact-list li:first-child {
  font-weight: bold;
}
