.header-menu {
  margin-left: auto;
}

.header-nav {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.header-nav__link {
  --color-link: var(--color-link-light);
  --color-link-alt: var(--color-link-light-alt);

  margin: 0 $tiny-spacing;
  padding: $tiny-spacing 0;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-size: var(--fs-small);
  font-weight: var(--fw-light);
  letter-spacing: (1em / 8);
  text-transform: lowercase;
  font-feature-settings: "smcp" 1;
  text-decoration: none;

  &[href*="hire"] {
    border: 1px solid currentColor;
    border-radius: 3px;
    font-weight: var(--fw-heavy);
  }

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: $tiny-spacing solid currentColor;
    color: var(--color-accent-3);
    transform: scaleX(0) translateY(.25em);
    opacity: 0;
    z-index: 0;
    transition: opacity .25s, transform .25s $easing;
  }

  @include haf {
    &::before {
      transform: scaleX(1) translateY(0);
      opacity: .5;
    }
  }
}
