.hero {
  --color-link: #{$color-link-dark};
  --color-link-alt: #{$color-link-dark-alt};

  padding: $base-spacing var(--horizontal-spacing);
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--color-background-svg);

  > * {
    position: relative;
    margin: $base-spacing 0;
    z-index: 1;
  }

  > svg {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
  }
}

.hero__title {
  // @include font-scale(hero);

  margin: $base-spacing auto;
  max-width: $max-width;
  letter-spacing: (1em / 16);
  text-align: center;
  text-transform: uppercase;
  font-variation-settings: vf(bold), "wdth" 85;
  color: var(--color-page-title);
  text-shadow:
    1px 1px 0 var(--text-shadow),
    2px 2px 0 var(--text-shadow),
    3px 3px 0 var(--text-shadow),
    4px 4px 0 var(--text-shadow);
  -webkit-font-smoothing: antialiased; //sass-lint:disable-line no-vendor-prefixes

  @include bp(medium) {
    font-variation-settings: vf(bold), "wdth" 100;
  }
}

.hero__meta {
  // @include font-scale(sm);

  margin-bottom: $base-spacing;
  color: var(--color-text);

  .hero & {
    color: var(--color-page-title);
    text-align: center;
  }

  .categories {
    text-transform: lowercase;
  }

  .author {
    font-style: italic;

    &::before,
    &::after {
      content: " ~ ";
      alt: "";
    }
  }
}
