// Mailchimp archive styles
[id="mailchimp-archive"] {
  @include font-scale(p);

  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
  padding-top: $base-spacing;
  border-top: $border-default;

  .campaign {
    margin-bottom: $tiny-spacing;
    font-family: var(--font-code);

    a {
      font-family: var(--font-body);
    }
  }
}
