.pagination {
  margin-top: $base-spacing;
  padding: $base-spacing 0;
  display: grid;
  grid-template:
    "left center right" auto /
    1fr 1fr 1fr;
  border-top: $border-default;
  font-size: var(--fs-small);

  .previous {
    grid-area: left;
    justify-self: start;
  }

  .page-number {
    grid-area: center;
    justify-self: center;

    &::before {
      content: "< ";
    }

    &::after {
      content: " >";
    }
  }

  .next {
    grid-area: right;
    justify-self: end;
  }
}
