.site-header {
  --max-width: #{$max-width--wide};
  --color-link: var(--color-accent-3);
  --color-link-alt: var(--color-link-light);
  --color-focus: var(--color-link-light);
  --header-bg: var(--color-background-hero);

  padding: $small-spacing 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  color: var(--color-text-light);

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--header-bg);
    opacity: var(--header-opacity, 1);
  }

  .js & span {
    @include bp(nav) {
      display: block;
    }
  }
}

.site-header__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.site-header__title {
  display: inline-block;
  font-weight: var(--fw-bold);
  line-height: var(--lh-title);
  text-decoration: none;
  letter-spacing: (1em / 32);
}

.site-header__menu-toggle {
  display: none;

  svg {
    width: $small-spacing;
    height: $small-spacing;
    overflow: visible;
  }

  rect {
    transform-origin: center;
    transform-box: fill-box;
    transform: skewY(var(--tilt));

    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        fill: var(--color-accent-#{$i});
      }
    }
  }

  .js & {
    display: inline-flex;
    position: relative;

    @include bp(nav) {
      display: none;
    }
  }
}
