.site-header {
  --max-width: #{$max-width--wide};
  --color-link: var(--color-accent-3);
  --color-link-alt: var(--color-link-light);
  --header-bg: var(--color-background-hero);

  padding: $small-spacing 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  color: var(--color-text-light);

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--header-bg);
    opacity: var(--header-opacity, 1);
  }
}

.site-header__content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.site-header__title {
  display: inline-block;
  font-weight: var(--fw-bold);
  text-decoration: none;
  letter-spacing: (1em / 32);
}
