.skip-link {
  margin: $small-spacing;
  padding: $small-spacing $base-spacing;
  display: inline-block;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: -1;
  font-size: var(--fs-small);
  text-decoration: none;
  font-feature-settings: "smcp" 1;
  font-weight: 500;
  color: var(--color-purple-dark);
  background-color: var(--color-page-title);
  outline: 2px solid var(--color-accent-1);
  outline-offset: -2px;
  transition: outline-offset .25s;

  &:focus {
    top: 0;
    z-index: 10;
    color: var(--color-purple-dark);
    outline-color: var(--color-accent-3);
    outline-offset: 2px;
  }

  &:hover,
  &:active {
    color: var(--color-purple-dark);
    outline-offset: 0;
  }
}
