.has-toc {
  position: relative;
}

.post-toc {
  .js & {
    padding-right: var(--horizontal-spacing);
    padding-left: var(--horizontal-spacing);
    position: absolute;
    top: calc(-50vw * var(--tilt-tan));
    right: 0;
  }
}

.post-toc__title {
  margin: $small-spacing 0;
  padding-top: $small-spacing;
  position: relative;
  font-weight: var(--fw-light);

  &::after {
    .js & {
      content: "▾";
      padding: 0 1ch;
      display: inline-block;
      transform: rotate(0deg) translateY(-.125em);
      transform-origin: center;
      alt: "";
    }

    .js [aria-hidden="false"] & {
      transform: rotate(180deg) translateY(-.0625em);
    }
  }
}

// BEM Exception: generated TOC component does not have classes
.toc {
  ol {
    margin: 0;
    padding: 0;
    display: block;
    font-size: var(--fs-small);
    list-style: decimal;
    color: var(--color-text);

    ol {
      list-style: upper-alpha;

      ol {
        list-style: lower-roman;
      }
    }
  }

  li {
    margin-top: $tiny-spacing;
    margin-left: $small-spacing;
  }

  .js & {
    padding: $tiny-spacing $base-spacing $small-spacing;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    opacity: 0;
    background-color: var(--color-background-dark);
    transform-origin: top center;
    transform: scaleY(0);
    transition: opacity .25s, transform .25s ease-in-out;
  }

  .js [aria-hidden="false"] & {
    opacity: 1;
    transform: scaleY(1);
  }
}
