code {
  padding: 0 $tiny-spacing;
  display: inline;
  vertical-align: baseline;
  font-family: var(--ff-code);
  line-height: inherit;
  font-weight: inherit;
  font-feature-settings: initial;
  color: var(--color-text-alt);
  border-radius: $border-radius-default;
  background-color: var(--color-background-code);

  a & {
    color: inherit;
  }

  a:hover &,
  a:active & {
    background-color: transparent;
  }
}

pre {
  > code {
    margin: $base-spacing 0;
    padding: $small-spacing;
    width: auto;
    display: block;
    overflow-x: scroll;
    font-size: var(--fs-small);
    line-height: 1.5;
    color: var(--color-text-light);
    border-radius: 0;
    background-color: var(--color-purple-dark);
    box-shadow:
      -1px 1px 0 1px var(--color-accent-1),
      -2px 2px 0 1px var(--color-accent-1),
      -3px 3px 0 1px var(--color-accent-1),
      -4px 4px 0 1px var(--color-accent-2),
      -5px 5px 0 1px var(--color-accent-2),
      -6px 6px 0 1px var(--color-accent-2),
      -7px 7px 0 1px var(--color-accent-3),
      -8px 8px 0 1px var(--color-accent-3),
      -9px 9px 0 1px var(--color-accent-3);

    @include bp(medium) {
      margin: $base-spacing (0 - $small-spacing);
    }

    @include bp(large) {
      margin: $base-spacing 0;
      grid-column: 2 / -2;
    }
  }

  @include bp(large) {
    display: grid;
    grid-column: 1 / -1 !important;
    grid-template-columns: 1fr minmax(0, #{$max-width--wide}) 1fr;
  }
}

$code-selectors: (
  (comment, doctag, meta, meta-keyword, meta-string),
  (attribute, tag, number, symbol, bullet, code),
  (selector-tag, selector-class, selector-attr, selector-pseudo, type, title, string, built_in, emphasis, strong),
  (operator, variable, template-tag),
  (keyword, regexp, class, formula, link),
  (function, literal, subst, params, template-variable, quote)
);

@each $batch in $code-selectors {
  @each $s in $batch {
    .hljs-#{$s} {
      $pct: math.div(100%, list.length($code-selectors)) * list.index($code-selectors, $batch);

      color: color.mix($color-white, $color-goldenrod, $pct);
    }
  }
}

.hljs-punctuation {
  opacity: 0.7;
}
