.form {
  margin-bottom: $base-spacing;

  &:focus {
    outline: 2px solid var(--color-focus);
    outline-offset: 2px;
  }
}

.form--contact {
  padding-top: $base-spacing;
}

.form--mailchimp {
  width: 100%;
}

.form__fields {
  margin-bottom: $base-spacing;
  padding-bottom: $base-spacing;
  display: grid;
  grid-template:
    "email email" auto
    "fname lname" auto
    "rewards submit" auto /
    1fr      1fr;
  gap: $base-spacing $small-spacing;
  border-bottom: $border-default;

  @include bp(medium) {
    grid-template:
      "email fname lname" auto
      "rewards . submit" auto /
      1fr    1fr   1fr;
  }

  @include bp(large) {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

.form__field--email {
  grid-area: email;
}

.form__field--fname {
  grid-area: fname;
}

.form__field--lname {
  grid-area: lname;
}

.form__field {
  position: relative;
  font-size: var(--fs-body);

  &:focus-within {
    z-index: 1;
    outline: 2px solid var(--color-focus);
    outline-offset: 8px;
  }
}

.form__label {
  --smcp: 1;

  display: block;
  font-size: var(--fs-body);
  text-transform: lowercase;
}

.form__input {
  --color-shadow-1: var(--color-accent-1);
  --color-shadow-2: var(--color-accent-2);
  --color-shadow-3: var(--color-accent-3);

  margin-bottom: $large-spacing;
  padding: $tiny-spacing;
  width: 100%;
  display: block;
  font-size: var(--fs-body);
  font-family: inherit;
  appearance: none;
  color: var(--color-text);
  background-color: var(--field-bg, transparent);
  border: 1px solid var(--color-shadow-1);
  border-radius: $border-radius-default;
  box-shadow:
    -1px 1px 0 1px var(--color-shadow-1),
    -2px 2px 0 1px var(--color-shadow-1),
    -3px 3px 0 1px var(--color-shadow-2),
    -4px 4px 0 1px var(--color-shadow-2),
    -5px 5px 0 1px var(--color-shadow-2),
    -6px 6px 0 1px var(--color-shadow-3),
    -7px 7px 0 1px var(--color-shadow-3),
    -8px 8px 0 1px var(--color-shadow-3);
  transition:
    color $duration,
    opacity $duration,
    background-color $duration,
    transform $duration $easing;

  &:hover,
  &:active {
    background-color: var(--field-bg-alt, var(--color-background-code));
    outline: none;
  }

  &:focus {
    --color-shadow-1: var(--color-focus);
    --color-shadow-2: var(--color-focus);
    --color-shadow-3: var(--color-focus);
  }

  :focus-within &:focus {
    --color-shadow-1: var(--color-accent-1);
    --color-shadow-2: var(--color-accent-2);
    --color-shadow-3: var(--color-accent-3);
  }

  .form--mailchimp & {
    margin-bottom: 0;
    color: var(--color-page-title);
  }
}

.form__submit {
  margin: 0;
  grid-area: submit;
  place-self: flex-start flex-end;

  .form--mailchimp & {
    width: 100%;
  }

  .form--contact & {
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
    width: 50%;
    display: block;
  }
}

.form__response-message {
  margin-top: $small-spacing;
  margin-bottom: $small-spacing;
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;
  grid-column: 1 / -1;
  font-size: var(--fs-blockquote);
  text-align: center;
  animation: fade-down 0.35s ease-out;

  &:empty {
    display: none;
  }
}

.form__monkey-rewards {
  margin: 0;
  grid-area: rewards;
  align-self: end;
  font-size: var(--fs-small);
  font-style: italic;
  opacity: 0.5;
}

.error {
  margin: 0;
  grid-column: 1 / -1;
}

.error__link {
  --smcp: 1;

  grid-column: -2 / -1;
}
