a {
  position: relative;
  color: var(--color-link);
  transition:
    color $duration,
    background-color $duration,
    background-size $duration,
    opacity $duration;

  &:hover,
  &:active {
    color: var(--color-link-alt);
  }

  &:focus {
    outline: solid 2px var(--color-focus);
    outline-offset: 2px;
  }

  .main-content &:not([class]) {
    margin-right: math.div($tiny-spacing, -2);
    margin-left: math.div($tiny-spacing, -2);
    padding-right: math.div($tiny-spacing, 2);
    padding-left: math.div($tiny-spacing, 2);
    text-decoration: none;
    background-image:
      linear-gradient(
        180deg,
        rgba($color-orange, 0.5) 33.3%,
        rgba($color-goldenrod, 0.5) 33.3%,
        rgba($color-goldenrod, 0.5) 66.7%,
        rgba($color-yellow, 0.5) 66.7%
      );
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 3px;
    box-decoration-break: clone;

    &:hover,
    &:active {
      color: var(--color-text-alt);
      background-size: 100% 100%;
    }
  }
}
