@use "sass:math";
@use "../variables" as v;

a {
  position: relative;
  color: var(--color-link);
  transition:
    color v.$duration,
    background-color v.$duration,
    background-size v.$duration,
    opacity v.$duration;

  &:hover,
  &:active {
    color: var(--color-link-alt);
  }

  &:focus {
    outline: solid 2px var(--color-focus);
    outline-offset: 2px;
  }

  .main-content &:not([class]) {
    margin-right: math.div(v.$tiny-spacing, -2);
    margin-left: math.div(v.$tiny-spacing, -2);
    padding-right: math.div(v.$tiny-spacing, 2);
    padding-left: math.div(v.$tiny-spacing, 2);
    text-decoration: none;
    background-image:
      linear-gradient(
        180deg,
        rgba(v.$color-orange, 0.5) 33.3%,
        rgba(v.$color-goldenrod, 0.5) 33.3%,
        rgba(v.$color-goldenrod, 0.5) 66.7%,
        rgba(v.$color-yellow, 0.5) 66.7%
      );
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 3px;
    box-decoration-break: clone;

    &:hover,
    &:active {
      color: var(--color-text-alt);
      background-size: 100% 100%;
    }
  }
}
