@use "../variables" as v;

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.alignleft {
  margin-right: v.$small-spacing;
  margin-bottom: v.$small-spacing;
  margin-left: 0;
  float: left;
  clear: right;
}

.alignright {
  margin-right: 0;
  margin-bottom: v.$small-spacing;
  margin-left: v.$small-spacing;
  float: right;
  clear: left;
}

.aligncenter {
  margin-right: auto;
  margin-bottom: v.$base-spacing;
  margin-left: auto;
}

svg {
  width: 0.75em;
  height: 0.75em;
  pointer-events: none;

  .outbound-link & {
    width: 0.5em;
    height: 0.5em;
  }

  path {
    button &,
    a & {
      fill: currentColor;
    }
  }
}
