<form class="theme-toggle" name="Theme Picker">
  <input class="theme-toggle__input" type="radio" name="theme" id="light" value="light" />
  <label class="theme-toggle__label" for="light">
    {% include images/toggle-light %}
    <span class="theme-toggle__label-text hidden">Light Theme</span>
  </label>
  <input class="theme-toggle__input" type="radio" name="theme" id="auto" value="auto" />
  <label class="theme-toggle__label" for="auto">
    {% include images/toggle-auto %}
    <span class="theme-toggle__label-text hidden">Auto Theme</span>
  </label>
  <input class="theme-toggle__input" type="radio" name="theme" id="dark" value="dark" />
  <label class="theme-toggle__label" for="dark">
    {% include images/toggle-dark %}
    <span class="theme-toggle__label-text hidden">Dark Theme</span>
  </label>
</form>
