.header-nav {
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  @include breakpoint(xlarge) {
    text-align: right;
    width: 66%;
  }
}

.header-nav__link {
  @include font-scale(sm);
  display: inline-block;
  letter-spacing: (1em / 16);
  font-variation-settings: vf(semibold), "wdth" 85;
  margin: 0 $small-spacing;
  padding: $tiny-spacing 0;
  text-transform: uppercase;

  &[href*="hire"] {
    background-color: scale-color($color-link, $lightness: 90%);
    border: 1px solid currentColor;
    border-radius: 3px;
    font-weight: bold;
    font-variation-settings: vf(heavy);
  }

  &:last-child {
    margin-right: 0;
  }

  &::before {
    @include use-prop(color, color-background);
    content: "";
    position: absolute;
    top: 0;
    right: -$tiny-spacing;
    bottom: 0;
    left: -$tiny-spacing;
    background-image: linear-gradient(0deg, currentColor 0, currentColor 1em, transparent 1em);
    transform: scaleX(0) rotate(4deg) translateY(.25em);
    opacity: 0;
    z-index: 0;
    transition: color .25s, opacity .25s, transform .25s $easing;
  }

  @include haf {
    &::before {
      transform: scaleX(1) rotate(-1deg) translateY(0);
      opacity: .2;
    }
  }
}
