
.pagination {
  @include font-scale(sm);
  border-top: $border-default;
  padding-top: $small-spacing;
  text-align: center;

  a {
    @include use-prop(color, color-link);
    font-variation-settings: vf(semibold);

    @include haf {
      @include use-prop(color, color-link-alt);
      text-decoration: underline;
    }
  }

  a,
  span {
    display: inline-block;
    vertical-align: top;
    width: 30%;
  }

  .previous {
    text-align: left;
  }

  .page-number {
    text-align: center;
  }

  .next {
    text-align: right;
  }
}
