.site-header {
  --max-width: #{$max-width--wide};

  padding: $small-spacing var(--horizontal-spacing);
  background-color: $color-blue-dark;
  color: $color-gray-pale;
  -webkit-font-smoothing: antialiased; //sass-lint:disable-line no-vendor-prefixes

  .l-wrapper {
    align-items: center;
    text-align: center;
  }

  a {
    // @TODO - CSS vars here?
    color: $color-link-dark;

    @include haf {
      color: $color-link-dark-alt;
    }
  }
}

.site-header__title {
  @include font-scale(p);

  width: 100%;
  font-family: var(--font-headline);
  font-weight: bold;
  font-variation-settings: vf(heavy);
  padding: $tiny-spacing 0;
  text-align: center;
  vertical-align: middle;

  @include breakpoint(medium) {
    width: auto;
  }

  @include breakpoint(large) {
    margin-right: auto;
  }

  @include breakpoint(xlarge) {
    text-align: left;
    width: 33%;
  }
}
