.site-footer {
  padding: $base-spacing var(--vertical-padding);
  color: $color-gray-pale;
  background-color: $color-gray-dark;
  -webkit-font-smoothing: antialiased; //sass-lint:disable-line no-vendor-prefixes

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  a {
    color: $color-link-dark;

    @include haf {
      color: $color-link-dark-alt;
    }
  }

  br {
    margin-bottom: $small-spacing;
  }
}

.site-footer__column {
  @include font-scale(sm);
  flex-basis: 100%;

  p {
    margin: 0 0 $base-spacing;
    font-size: inherit;
  }

  @include breakpoint(medium) {
    flex-basis: 50%;
  }

  @include breakpoint(large) {
    flex-basis: 33%;

    p {
      margin-bottom: $small-spacing;
    }
  }
}

.site-footer__title {
  @include font-scale(blockquote);
  margin-top: $small-spacing;
  margin-bottom: $base-spacing;
  text-align: center;
  text-shadow: 1px 1px 0 $color-blue-dark, 2px 2px 0 $color-blue-dark, 3px 3px 0 $color-blue-dark, 4px 4px 0 $color-blue-dark;
}
