.post-toc {
  .js & {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    @include bp(large) {
      // padding: 0 $base-spacing;
    }
  }
}

.post-toc .post-toc__title { // Increase specificity for title
  margin: $small-spacing 0;
  padding-top: $small-spacing;
  position: relative;
  font-variation-settings: vf(bold);

  .js &::after {
    padding: 0 1ch;
    content: "▾";
    display: inline-block;
    transform: rotate(0deg) translateY(-.125em);
    transform-origin: center;

    [aria-hidden="false"] & {
      transform: rotate(180deg) translateY(-.125em);
    }
  }
}

// BEM Exception: generated TOC component does not have classes
.toc {
  $transparent-white: rgba($color-white, 0);

  @include use-prop(background-color, color-background-page);

  a {
    @include font-scale(sm);

    display: inline-block;
    margin-bottom: $tiny-spacing;
  }

  ol {
    @include use-prop(color, color-text);
    @include font-scale(sm);

    display: block;
    margin: 0;
    padding: 0;
    list-style: decimal;

    ol {
      list-style: upper-alpha;

      ol {
        list-style: lower-roman;
      }
    }
  }

  li {
    margin-left: $tiny-spacing;
  }

  .js & {
    padding: 0 $small-spacing $base-spacing + $small-spacing;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    opacity: 0;
    mask-image: linear-gradient(
      0deg,
      $transparent-white 0,
      $color-white $base-spacing
    );
    transform-origin: top center;
    transform: scaleY(0);
    transition: opacity .25s, transform .25s ease-in-out;
  }

  .js [aria-hidden="false"] & {
    opacity: 1;
    transform: scaleY(1);
  }


  @supports (backdrop-filter: blur(3px)) {
    @include use-prop(background-color, color-background-fade);
    backdrop-filter: blur(3px);
  }
}
