button,
.button,
[type="submit"] {
  @include font-scale(sm);

  padding: $tiny-spacing $small-spacing;
  display: inline-block;
  appearance: none;
  border: 0;
  border-radius: $border-radius-default;
  font-family: var(--font-body);
  font-weight: bold;
  font-variation-settings: vf(heavy), "wdth" 85;
  letter-spacing: (1em / 16);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased; //sass-lint:disable-line no-vendor-prefixes
  background-color: var(--color-link);
  color: var(--color-background);
  box-shadow:
    1px 1px 0 0 $color-orange,
    2px 2px 0 0 $color-orange,
    3px 3px 0 0 $color-orange;
  transition:
    color .25s,
    opacity .25s,
    border-color .25s,
    background-color .25s,
    transform .25s $easing;

  &.button-alt {
    background-color: var(--color-highlight);
  }

  @include haf {
    color: var(--color-background);
    background-color: var(--color-link-alt);

    &.button-alt {
      background-color: var(--color-highlight-alt);
    }
  }

  .page-content & {
    margin-bottom: $small-spacing;
  }
}
