code {
  padding: 0 .5ch;
  display: inline-block;
  vertical-align: baseline;
  border-radius: $border-radius-default;
  font-family: var(--font-code);
  font-weight: inherit;
  font-feature-settings: initial;
  color: var(--color-text-alt);
  background-color: var(--color-background-alt);

  a & {
    color: inherit;
  }
}

pre > code {
  @include font-scale(sm);

  margin: $base-spacing 0;
  padding: $small-spacing;
  width: auto;
  display: block;
  overflow: scroll;
  border-radius: 0;
  line-height: 2;
  color: var(--color-text-code);
  background-color: var(--color-background-code);
  box-shadow:
    1px 1px 0 1px $color-gray,
    2px 2px 0 1px $color-gray;

  @include bp(medium) {
    margin: $base-spacing (0 - $small-spacing);
  }
}


$code-selectors: (
  (comment, prolog, doctype, cdata),
  (property, tag, boolean, number, constant, symbol),
  (selector, attr-name, string, char, builtin, inserted),
  (operator, entity, url, variable),
  (atrule, attr-value, keyword),
  (placeholder, function, punctuation)
);

.highlight-line {
  @each $batch in $code-selectors {
    @each $s in $batch {
      .#{$s} {
        $pct: 100% / length($code-selectors) * index($code-selectors, $batch);
        color: mix($color-blue-dark, $color-green-dark, $pct); // sass-lint:disable-line variable-for-property
      }
    }
  }

  .punctuation {
    opacity: .7;
  }
}
