body {
  @include font-scale(p);
  @include use-prop(background-color, color-background-page);
  @include use-prop(color, color-text);
  @include use-prop(font-family, font-body);

  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-variant-ligatures: common-ligatures contextual;
  font-variation-settings: vf(normal);
  scroll-behavior: smooth;
}

h1 {
  @include font-scale(subtitle);
  @include use-prop(color, color-text-alt);
  @include use-prop(font-family, font-headline);
  font-weight: bold;
  font-variation-settings: vf(heavy);
}

h2 {
  @include font-scale(blockquote);
  @include use-prop(color, color-text-alt);
  @include use-prop(font-family, font-headline);
  font-weight: bold;
  font-variation-settings: vf(heavy);

  .post-content & {
    @include use-prop(color, color-text-alt);
    margin-top: $base-spacing;
    margin-bottom: $small-spacing;
  }
}

h3 {
  .post-content & {
    @include use-prop(color, color-text-alt);
    font-weight: bold;
    font-variation-settings: vf(heavy);
    letter-spacing: (1em / 32);
    margin-top: $small-spacing;
    text-transform: uppercase;
  }
}

h4 {
  .post-content & {
    @include use-prop(color, color-text-alt);
    font-weight: bold;
    font-variation-settings: vf(heavy);
    margin-top: $small-spacing;
  }
}

h5 {
  .post-content & {
    @include font-scale(sm)
    @include use-prop(color, color-text-alt);
    font-weight: bold;
    font-variation-settings: vf(heavy);
    letter-spacing: (1em / 32);
    margin-top: $small-spacing;
    text-transform: uppercase;
  }
}

p {
  @include font-scale(p);
  margin-bottom: $base-spacing;

  &:empty {
    margin-bottom: 0;
  }
}

b,
strong {
  @include use-prop(color, color-text-alt);
  font-weight: bold;
  font-variation-settings: vf(semibold);
}

i,
em {
  font-style: italic;
}

.post-content {
  > ul,
  > ol {
    margin-bottom: $base-spacing;
    padding-left: 1em;

    @include breakpoint(medium) {
      padding-left: 0;
    }

    li {
      margin-top: $small-spacing;
      margin-bottom: $small-spacing;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    ul {
      list-style-type: square;
    }

    li ul {
      list-style-type: circle;
    }

    ol {
      list-style-type: upper-alpha;
    }

    li ol {
      list-style-type: lower-roman;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    em {
      @include use-prop(color, color-text-accent);
      font-style: italic;
    }
  }
}

.hidden {
  position: absolute !important; // sass-lint:disable-line no-important
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
