html {
  font-size: var(--fs-body);
}

body {
  @include font-scale(p);

  font-family: var(--font-body);
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-variant-ligatures: common-ligatures contextual;
  font-variation-settings: vf(normal);
  color: var(--color-text);
  background-color: var(--color-background-page);
  scroll-behavior: smooth;
}

h1 {
  @include font-scale(subtitle);

  font-family: var(--font-headline);
  font-weight: bold;
  font-variation-settings: vf(heavy);
  color: var(--color-text-alt);
}

h2 {
  @include font-scale(blockquote);
  font-family: var(--font-headline);
  font-weight: bold;
  font-variation-settings: vf(heavy);
  color: var(--color-text-alt);

  .post & {
    margin-top: $base-spacing;
    margin-bottom: $small-spacing;
  }
}

h3 {
  .post & {
    margin-top: $small-spacing;
    font-weight: bold;
    font-variation-settings: vf(heavy);
    letter-spacing: (1em / 32);
    text-transform: uppercase;
    color: var(--color-text-alt);
  }
}

h4 {
  .post & {
    margin-top: $small-spacing;
    font-weight: bold;
    font-variation-settings: vf(heavy);
    color: var(--color-text-alt);
  }
}

h5 {
  .post & {
    @include font-scale(sm);

    margin-top: $small-spacing;
    font-weight: bold;
    font-variation-settings: vf(heavy);
    letter-spacing: (1em / 32);
    text-transform: uppercase;
    color: var(--color-text-alt);
  }
}

p {
  @include font-scale(p);

  margin-bottom: $base-spacing;

  &:empty {
    margin-bottom: 0;
  }
}

b,
strong {
  font-weight: bold;
  font-variation-settings: vf(semibold);
  color: var(--color-text-alt);
}

i,
em {
  font-style: italic;
}

.post {
  > ul,
  > ol {
    margin-bottom: $base-spacing;
    padding-left: 1em;

    @include breakpoint(medium) {
      padding-left: 0;
    }

    li {
      margin-top: $small-spacing;
      margin-bottom: $small-spacing;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    ul {
      list-style-type: square;
    }

    li ul {
      list-style-type: circle;
    }

    ol {
      list-style-type: upper-alpha;
    }

    li ol {
      list-style-type: lower-roman;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    em {
      font-style: italic;
      color: var(-- color-text-accent);
    }
  }
}

.hidden {
  position: absolute !important; // sass-lint:disable-line no-important
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  white-space: nowrap;
}
