---
layout: compress
---
<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>
		<div id="particles-a"></div>
		<!-- <div id="particles-b"></div> -->

		{% include header.html %}

		<div class="page-content">

			<div class="wrapper">
				{{ content }}
			</div>
		</div>

		{% include footer.html %}

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-43397146-5', 'auto');
			ga('send', 'pageview');
		</script>
		<script async src="/js/site.js"></script>

<!--
		<script async src="/js/particles.min.js"></script>
		<script async>
			particlesJS('particles-a', {
				particles: {
					color: '#5CACC4',
					shape: 'circle', // "circle", "edge" or "triangle"
					opacity: .25,
					size: 4,
					size_random: false,
					nb: 75,
					line_linked: {
						enable_auto: true,
						distance: 500,
						color: '#5CACC4',
						opacity: .5,
						width: 1,
						condensed_mode: {
							enable: false
						}
					},
					anim: {
						enable: false
					}
				},
				interactivity: {
					enable: false
				},
				retina_detect: true
			});
			// particlesJS('particles-b', {
			// 	particles: {
			// 		color: '#5CACC4',
			// 		shape: 'circle', // "circle", "edge" or "triangle"
			// 		opacity: .25,
			// 		size: 4,
			// 		size_random: false,
			// 		nb: 25,
			// 		line_linked: {
			// 			enable_auto: true,
			// 			distance: 500,
			// 			color: '#5CACC4',
			// 			opacity: .5,
			// 			width: 1,
			// 			condensed_mode: {
			// 				enable: false
			// 			}
			// 		},
			// 		anim: {
			// 			enable: false
			// 		}
			// 	},
			// 	interactivity: {
			// 		enable: false
			// 	},
			// 	retina_detect: true
			// });

		</script>
 -->
	</body>

</html>
