{% include before %}
<div class="l-grid">
  {% assign title = title | append: " Archive" %}
  {% include hero %}

  <div class="l-content">
    <ul class="posts-archive">
      {%- for post in collections[cat_name] %}
        {% include archive-item %}
      {%- endfor %}
    </ul>
  </div>
</div>
{% include after %}
