{% include before %}
<div class="category-archive inner-wrapper">
  <header class="hero">
    {% include header-image %}
    <h1 class="hero__title">{{ title }} Archive</h1>
  </header>

  <div class="white-sheet">
    <ul class="posts-archive">
      {%- for post in collections[cat_name] %}
        {% include archive-item %}
      {%- endfor %}
    </ul>
  </div>
</div>
{% include after %}
