{% include before %}
<article class="page inner-wrapper" itemscope itemtype="http://schema.org/WebPage">
  <header class="hero">
    {% include header-image %}
    <h1 class="hero__title" itemprop="name title headline">{{ title }}</h1>
    {%- if author %}
      <span class="author hidden" itemprop="author creator">{{ author }}</span>
    {%- endif %}
  </header>
  <div class="post-content white-sheet" itemprop="articleBody">
    {{ content }}
  </div>
</article>
{% include after %}
