a {
  position: relative;
  color: var(--color-link);
  transition:
    color .25s,
    background-color .25s,
    opacity .25s;

  @include ha {
    color: var(--color-link-alt);
  }

  &:focus {
    outline: solid 2px var(--color-focus);
    outline-offset: 2px;
  }

  .main-content &:not([class]) {
    margin-right: ($tiny-spacing / -2);
    margin-left: ($tiny-spacing / -2);
    padding-right: ($tiny-spacing / 2);
    padding-left: ($tiny-spacing / 2);
    background-image: linear-gradient(
      180deg,
      var(--link-bg-1, transparent) 33.3%,
      var(--link-bg-2, transparent) 33.3%,
      var(--link-bg-2, transparent) 66.7%,
      var(--link-bg-3, transparent) 66.7%
    );
    box-decoration-break: clone;

    @include ha {
      --link-bg-1: #{rgba($color-orange, .5)};
      --link-bg-2: #{rgba($color-goldenrod, .5)};
      --link-bg-3: #{rgba($color-yellow, .5)};

      text-decoration-color: transparent;
      color: var(--color-text-alt);
    }
  }
}
