body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  line-height: var(--lh-body);
  font-feature-settings: "kern", "liga", "clig", "calt";
  color: var(--color-text);
  background-color: var(--color-background-page);
  scroll-behavior: smooth;
  position: relative;
  z-index: 2;
}

h1 {
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
  line-height: var(--lh-title);
  color: var(--color-text-alt);
}

h2 {
  margin-top: $large-spacing;
  margin-bottom: $base-spacing;
  font-size: var(--fs-heading);
  font-weight: var(--fw-medium);
  color: var(--color-text-alt);
}

h3 {
  margin-top: $large-spacing;
  margin-bottom: $small-spacing;
  font-size: var(--fs-subheading);
  font-weight: var(--fw-medium);
  color: var(--color-text-alt);
}

h4 {
  margin-top: $base-spacing;
  margin-bottom: $small-spacing;
  font-size: var(--fs-subheading);
  font-weight: var(--fw-bold);
  color: var(--color-text-alt);
}

h5 {
  margin-top: $small-spacing;
  margin-bottom: $tiny-spacing;
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
  letter-spacing: (1em / 32);
  text-transform: uppercase;
  color: var(--color-text-alt);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--lh-heading);

  em {
    font-style: italic;
  }
}

p {
  margin-top: $small-spacing;
  margin-bottom: $small-spacing;

  &:empty {
    margin-bottom: 0;
  }
}

b,
strong {
  font-weight: var(--fw-bold);
  font-weight: var(--fw-medium);
  color: var(--color-text-alt);
}

i,
em {
  font-style: italic;
}

.main-content {
  > p:first-child {
    font-size: var(--fs-blockquote);
    color: var(--color-text-alt);
    font-weight: var(--fw-lightest);
  }

  > ul,
  > ol {
    margin-bottom: $base-spacing;
    padding-left: 1em;

    @include bp(medium) {
      padding-left: 0;
    }

    li {
      margin-top: $small-spacing;
      margin-bottom: $base-spacing;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    ul {
      list-style-type: square;
    }

    li ul {
      list-style-type: circle;
    }

    ol {
      list-style-type: upper-alpha;
    }

    li ol {
      list-style-type: lower-roman;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: $large-spacing * 2;

    em {
      color: var(-- color-text-accent);
    }
  }
}

.hidden {
  position: absolute !important; // sass-lint:disable-line no-important
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  white-space: nowrap;
}
