<form class="form form--mailchimp" action="https://jamessteinbach.us7.list-manage.com/subscribe/post?u=e06400c5106eb26339f4a0aea&amp;id=35bef0e04e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h2 class="site-footer__title">
    Get New Posts &amp; Other Content in Your Inbox!
    <span class="site-footer__title-icon">{% include "images/mail" %}</span>
  </h2>

  <div class="form__fields" id="mc_embed_signup_scroll">
    <p class="form__required-message screen-reader-only"><span class="form__required-asterisk">*</span> indicates required</p>

    <div class="catch-flies screen-reader-only" aria-hidden="true">
      <label for="web">Leave this field blank.</label>
      <input type="text" id="web" class="sweetinput" name="web" tabindex="-1" />
    </div>

    <div class="form__field form__field--email">
      <label class="form__label" for="mce-EMAIL">Email Address<span class="form__required-asterisk">*</span></label>
      <input class="form__input form__input--required form__input--email" type="email" name="EMAIL" id="mce-EMAIL">
    </div>

    <div class="form__field form__field--fname">
      <label class="form__label" for="mce-FNAME">First Name</label>
      <input class="form__input" type="text" name="FNAME" id="mce-FNAME">
    </div>

    <div class="form__field form__field--lname">
      <label class="form__label" for="mce-LNAME">Last Name </label>
      <input class="form__input" type="text" name="LNAME" id="mce-LNAME">
    </div>

    <p class="form__response-message" id="mce-response"></p>

    <label style="position: absolute; left: -5000px;" aria-hidden="true">
      Form ID - Skip this field
      <input type="text" name="b_e06400c5106eb26339f4a0aea_35bef0e04e" tabindex="-1" value="">
    </label>

    <button class="form__submit button" type="submit">Subscribe</button>

    <p class="form__monkey-rewards mc-ref">Powered by <a href="https://www.mailchimp.com/monkey-rewards/?utm_source=freemium_newsletter&utm_medium=email&utm_campaign=monkey_rewards&aid=e06400c5106eb26339f4a0aea&afl=1" target="_blank" rel="noopener nofollow noreferrer" title="MailChimp - email marketing made easy and fun">MailChimp</a></p>
  </div>
</form>
